{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="main text-page">
  <h1 class="page-header">{{daily_sched.dow_string}}</h1>
  <div class="page-actions">
    <a href="{% url 'add_timeslot' daily_sched.id %}">Add Timeslot</a>
  </div>
  {% for timeslot in timeslots %}
  <div class="timeslot">
    <table class="timeslot-table">
      <th class="timeslot-header left">{{timeslot}}</th>
      <th class="timeslot-header right">
        <a class="timeslot-action" href="{% url 'add_appointment' daily_sched.id timeslot.id %}">Add Appointment</a> |
        <a class="timeslot-action" href="{% url 'delete_timeslot' daily_sched.id timeslot.id %}">Delete Timeslot</a></th>
      </th>
    </table>
    {% for time, appointment in appointments.items %}
      {% if timeslot.time == time.time %}
        {% if appointment|length <= 1 %}
        <ul class="appt-solo">
        {% else %}
        <ul class="appt-list">
        {% endif %}
        {% for appt in appointment %}
          <li class="appt-slot">
            <div class="appointment">
              <table class="appt-info-block no-border" id="appt-header-block">
                <tr>
                  <td class="appt-description left upper"><a class="appt-action" href="{% url 'edit_appointment' daily_sched.id appt.id %}">{{appt}}</a></td>
                  <td class="appt-description right"><a href="{% url 'edit_appointment' daily_sched.id appt.id %}">&#9998;&#xFE0E;</a> <a href="{% url 'delete_appointment' daily_sched.id appt.id %}">&#10006;&#xFE0E;</a></td>
                </tr>
                <tr>
                  <td class="left"><b>({{appt.appt_string}})</b></td>
                </tr>
              </table>
            </div>
          </li>
        {% empty %}
          No appointments yet.
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}

  <div class="timeslot">
    <table class="timeslot-table">
      <th class="timeslot-header left">{{timeslot}}</th>
      <th class="timeslot-header right">
        <a class="timeslot-action" href="{% url 'add_appointment' daily_sched.id timeslot.id %}">Add Appointment</a> |
        <a class="timeslot-action" href="{% url 'delete_timeslot' daily_sched.id timeslot.id %}">Delete Timeslot</a></th>
      </th>
    </table>
  </div>
</div>
{% endblock %}
