{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="main textpage">
  <div class="page-header no-actions">
    <h1>Weekly Template</h1>
  </div>
  <div class="center">
    {% for dow in dows.all %}
    <form action="{% url 'daily' dow.id %}" method="post" id="dow-buttons">
      {% csrf_token %}
      <input class="large-button side-margin-5" type="submit" onClick="this.form.submit(); this.disabled=true;" value="{{dow}}">
    </form>
    {% endfor %}
  </div>
</div>
{% endblock %}
