{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="main textpage">
    <div class="page_header">
      <h1>Weekly Template</h1>
    </div>
    <div class="week">
      {% for dow in dows.all %}
        <form class="" action="{% url 'daily' dow.id %}" method="post" style="display: inline;">
          {% csrf_token %}
          <input class="copytemplate" type="submit" name="" value="{{dow}}" style="margin: 0px 5px;">
        </form>
      {% endfor %}
    </div>

  </div>
{% endblock %}
