{% load auth_extras %}
{% load wishlist_extras %}

<div class="appointment" id={{dog.shelterluv_id}}>

  <table style="width: 100%; margin: auto;">
    <tr class="dog-info-block no-border">
      <td class="no-border" style="width: 20%;">
        <img src="{{dog.info.CoverPhoto}}" height="150px" alt=""><br>
      </td>
      <td>
        <table style="width: 100%; margin: auto;">
          <tr class="dog-info-block">
            <td>
              <span class="appt-description left upper">
                <b>{{dog.info.Name}}
                {% if dog.info.Status not in available_statuses %}
                  - NO LONGER AVAILABLE
                {% endif %}</b>
              </span><br>
              <b>{{dog.info.Sex}} {{dog.info.Breed}}, {{dog.Weight_str}}{{dog.Age_str}}</b>
            </td>
          </tr>
          <tr class="dog-info-block no-border">
            <td>
              {% if request.user|has_group:"adopter" and dog|on_wishlist:user_wishlist %}
                <input type="checkbox" name="{{dog.shelterluv_id}}" value="{{dog.shelterluv_id}}" checked>
                <label for="{{dog.shelterluv_id}}">Remove From Wishlist</label>
              {% elif request.user|has_group:"adopter" and not dog|on_wishlist:user_wishlist %}
                <input type="checkbox" name="{{dog.shelterluv_id}}" value="{{dog.shelterluv_id}}">
                <label for="{{dog.shelterluv_id}}">Add To Wishlist</label>
              {% elif request.user|has_group:"admin" %}
                <input type="checkbox" name="{{dog.shelterluv_id}}" value="{{dog.shelterluv_id}}" checked>
                <label for="{{dog.shelterluv_id}}">Remove From Wishlist</label>
              {% endif %}
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</div>
