{% load auth_extras %}
{% load wishlist_extras %}

<div class="dog-card" id={{dog.shelterluv_id}}>
  <table class="auto-margin full-width">
    <tr class="dog-info-block no-border">
      <td class="no-border" style="width: 20%;">
        <img class="{{dog|wishlist_class:'image'}}" src="{{dog.info.CoverPhoto}}" height="150px" alt=""><br>
      </td>
      <td>
        <table class="auto-margin full-width">
          <tr class="dog-info-block">
            <td>
              <span class="bold dog-description left upper {{dog|wishlist_class:'string'}}">
                {{dog.info.Name}}
              </span><br>
              <span class="subscript italic">
                {% if dog.shelterluv_status != "Available for Adoption" %}
                  NO LONGER AVAILABLE
                {% else %}
                  {{dog.info.Sex}} {{dog.info.Breed}}, {{dog.Weight_str}}{{dog.Age_str}}
                {% endif %}
              </span>
            </td>
          </tr>
          <tr class="dog-info-block no-border">
            <td>
              {% if request.user|has_group:"adopter" and dog|on_wishlist:user_wishlist %}
                <a href="{% url 'remove_dog_from_wishlist' dog.id %}">Remove from Watch List</a>
              {% elif request.user|has_group:"adopter" and not dog|on_wishlist:user_wishlist %}
                <input type="checkbox" name="{{dog.shelterluv_id}}" value="{{dog.shelterluv_id}}">
                <label for="{{dog.shelterluv_id}}">Add to Watch List</label>
              {% elif request.user|has_group:"admin" and dog not in recently_adopted_dogs %}
                <label for="{{dog.shelterluv_id}}-appt">Appointment Only? </label>
                <input type="checkbox" name="{{dog.shelterluv_id}}-appt" value="appt-only" {% if dog.appt_only %} checked {% endif %}><br>
                <label for="{{dog.shelterluv_id}}-host">Extended Host</label><br>
                <input type="date" name="{{dog.shelterluv_id}}-host" id="host-{{dog.shelterluv_id}}" value="{{dog.host_date_str}}"><br>
                <label for="{{dog.shelterluv_id}}-fstr">Foster Return</label><br>
                <input type="date" name="{{dog.shelterluv_id}}-fstr" id="foster-{{dog.shelterluv_id}}" value="{{dog.foster_date_str}}"><br>
                <label for="{{dog.shelterluv_id}}-altr">Spay/Neuter Date</label><br>
                <input type="date" name="{{dog.shelterluv_id}}-altr" id="foster-{{dog.shelterluv_id}}" value="{{dog.alter_date_str}}"><br>
                <a href="{% url 'create_watchlist_email_batch_dog' 'popular' dog.id %}">Send Dog Is Popular Emails</a><br>
              {% endif %}
              {% if request.user|has_group:"admin" %}
                <a href="{% url 'create_watchlist_email_batch_dog' 'adopted' dog.id %}">Send Dog Was Adopted Emails</a>
              {% endif %}
              {% if request.user|has_group:"superuser" %}
              <br>
              <a href="https://sheltercenter.dog/admin/wishlist/dogprofile/{{dog.id}}/change/">Edit Dog in Admin</a>
              {% endif %}
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
