{% extends 'dashboard/base.html' %}
{% load static %}
{% load auth_extras %}

{% block content%}
<script>
  function filterDogs() {
    // Declare variables
    input = document.getElementById("search-bar");
    filter = input.value.toLowerCase();
    li = document.getElementsByClassName('dog-listing');
    console.log(li);
    spans = document.getElementsByClassName('dog-name');
    console.log(spans);

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
      // name = li[i].getElementsByClassName("dog-name")[0];
      name = li[i].getElementsByClassName('dog-name')[0];
      console.log(name);
      nameTxtValue = name.innerText; // || name.innerText;
      console.log(nameTxtValue);
      // if (nameTxtValue.toLowerCase().indexOf(filter) > -1) {
      //   li[i].style.display = "";
      // } else {
      //   li[i].style.display = "none";
      // }
    }
  }
</script>
  <div class="main">
    <h1 class="page-header">Manage Dogs</h1>
    <input type="text" id="search-bar" onkeyup="filterDogs()" placeholder="Search by name or email address.">

    <div class="info-box toc btm-margin-5">
      <table>
        <tr>
          <td class="info-box-data no-border">
            <span class="alert-symbol">&#9432;&#xFE0E; </span>Adjust whether a dog should be listed as by appointment only, or set a date for them to return from host or foster.
          </td>
        </tr>
      </table>
    </div>

    <form class="" action="" method="post">
      {% csrf_token %}
      <div class="center">
        <input type="submit" class="medium-button side-margin-5" onClick="this.form.submit(); this.disabled=true;" name="" value="Save">
      </div>
      <h2 class="left-pad-5">Recently Adopted</h2>
      <ul class="dog-list">
        {% for dog in recently_adopted_dogs %}
          <li class="appt-slot dog-listing">{% include 'wishlist/dog_card.html' %}</li>
        {% endfor %}
      </ul>
      <hr>
      <h2 class="left-pad-5">Recently Posted</h2>
      <ul class="dog-list">
        {% for dog in recently_posted_dogs %}
          <li class="appt-slot dog-listing">{% include 'wishlist/dog_card.html' %}</li>
        {% endfor %}
      </ul>
      <hr>
      <h2 class="left-pad-5">All Other Dogs</h2>
      <ul class="dog-list">
        {% for dog in all_available_dogs %}
          <li class="appt-slot dog-listing">{% include 'wishlist/dog_card.html' %}</li>
        {% endfor %}
      </ul>
    </form>
  </div>
{% endblock %}
