{% extends 'dashboard/base.html' %}
{% load static %}
{% load auth_extras %}

{% block content%}
  <div class="main">
    <h1 class="page-header">Add Appointment-Only Dogs</h1>

    <form class="" action="" method="post">
      {% csrf_token %}
      <input class="submit-form" type="submit" onClick="this.form.submit(); this.disabled=true;" name="" value="Save">

      <article id="dog-list">
        <ul class="list-page">
          {% for dog in all_available_dogs %}
            <li class="appt_slot">{% include 'wishlist/simple_dog_card.html' %}</li>
          {% endfor %}
        </ul>
      </article>

      <input class="submit-form" type="submit" onClick="this.form.submit(); this.disabled=true;" name="" value="Save">
    </form>
  </div>
{% endblock %}
