{% extends 'dashboard/base.html' %}
{% load static %}
{% load auth_extras %}

{% block content%}
  <div class="main">
    <h1 class="page-header">List of All Dogs</h1>

    <div class="info-box toc btm-margin-5">
      <table>
        <tr>
          <td class="info-box-data no-border">
            <span class="alert-symbol">&#9432;&#xFE0E; </span>Adjust whether a dog should be listed as by appointment only, or set a date for them to return from host or foster.
          </td>
        </tr>
      </table>
    </div>

    <form class="" action="" method="post">
      {% csrf_token %}
      <div class="center">
        <input type="submit" class="medium-button side-margin-5" onClick="this.form.submit(); this.disabled=true;" name="" value="Save">
      </div>
      <h2>Recently Adopted</h2>
      <ul class="dog-list">
        {% for dog in recently_adopted_dogs %}
          <li class="appt-slot">{% include 'wishlist/dog_card.html' %}</li>
        {% endfor %}
      </ul>
      <hr>
      <h2>Recently Posted</h2>
      <ul class="dog-list">
        {% for dog in recently_posted_dogs %}
          <li class="appt-slot">{% include 'wishlist/dog_card.html' %}</li>
        {% endfor %}
      </ul>
      <hr>
      <h2>All Available Dogs</h2>
      <ul class="dog-list">
        {% for dog in all_available_dogs %}
          <li class="appt-slot">{% include 'wishlist/dog_card.html' %}</li>
        {% endfor %}
      </ul>
    </form>
  </div>
{% endblock %}
