{% load auth_extras %}

<script>
  function setDate(year, month, day, id) {
    if (year !== 2000) {
      window.alert(id);
      document.getElementById(id).value = new Date(year, (month - 1), (day - 1));
    } else {
      return;
    }
  }

</script>

<div class="appointment" id={{dog.shelterluv_id}}>
  <img src="{{dog.info.CoverPhoto}}" height="150px" alt=""><br>
  <span class="appt_description upper"><b>{{dog.info.Name}}</b></span><br>
  <!-- <input type="checkbox" name="{{dog.shelterluv_id}}" value="{{dog.shelterluv_id}}">
  <label for="{{dog.shelterluv_id}}"> Appointment-Only</label> -->
  <!-- {{form}} -->
  <label for="appt_only">Appointment Only? </label>
  <input type="checkbox" name="{{dog.shelterluv_id}}-appt" value="appt_only" {% if dog.offsite %} checked {% endif %}><br>
  <label for="ext_host">Extended Host Until </label>
  <input type="date" name="{{dog.shelterluv_id}}-host" id="host-{{dog.shelterluv_id}}" value="{{dog.host_date_str}}"><br>
  <label for="foster">Returning from Foster On </label>
  <input type="date" name="{{dog.shelterluv_id}}-fstr" id="foster-{{dog.shelterluv_id}}" value="{{dog.foster_date_str}}">
</div>
