{% load auth_extras %}

<div class="appointment" id={{dog.shelterluv_id}}>
  <img src="{{dog.info.CoverPhoto}}" height="150px" alt=""><br>
  <span class="appt_description upper"><b>{{dog.info.Name}}</b></span><br>
  <!-- <input type="checkbox" name="{{dog.shelterluv_id}}" value="{{dog.shelterluv_id}}">
  <label for="{{dog.shelterluv_id}}"> Appointment-Only</label> -->
  <!-- {{form}} -->
  <label for="appt_only">Appointment Only? </label>
  <input type="checkbox" name="{{dog.shelterluv_id}}" value="appt_only" {% if dog.offsite %} checked {% endif %}><br>
  <!-- <label for="ext_host">Extended Host </label>
  <input type="date" name="{{dog.shelterluv_id}}" value="{{dog.host_date}}"><br> -->
  <!-- <label for="ext_host">Return from Foster </label>
  <input type="date" name="{{dog.shelterluv_id}}" value="{{dog.foster_date}}"> -->
</div>
