/* Base formatting */

* {
  margin: 0;
}

body {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

.half-width {
  width: 50%;
}

.hide {
  display: none;
}

.left {
  text-align: left;
}

.main {
  margin-left: 220px;
  width: calc(100% - 220px);
}

.narrow-td {
  width: 30%;
}

.no-border {
  border: none;
}

.right {
  text-align: right;
}

.upper {
  text-transform: uppercase;
}

.wide-td {
  width: 70%;
}

/* Base formatting for desktop */

.listpage,
.list-page {
  list-style-type: none;
  padding-left: 0;
}

.listpage li,
.list-page li {
  margin: 0;
}

.textpage, .text-page {
  padding: 10px;
  width: calc(100% - 240px);
}

/* Formatting for page headers and toolbar actions */

.no_actions {
  padding-bottom: 15px;
}

.calendar_actions, 
.calendar-actions {
  text-align: center;
}

.calendar_actions a, 
.calendar-actions a, 
.page_header a, 
.page-header a {
  color: black;
  margin: 5px;
  text-decoration: none;
}

.calendar_actions a:hover,
.calendar-actions a:hover, 
.page_header a:hover, 
.page-header a:hover {
  color: #A7396E;
  text-decoration: underline;
}

.page_header, 
.page-header {
  padding-top: 5px;
  text-align: center;
}

/* Formatting for form elements */

.submitform,
.submit-form {
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  color: #1E6C80;
  display: block;
  margin: 10px auto;
  padding: 5px;
}

.submitform:hover,
.submit-form:hover {
  background-color: #ddd;
  text-decoration: underline;
  font-weight: bold;
}

/* Formatting for cards (dog wishlist, appointments) */

.appointment,
.grey-card {
  background-color: #e8e8e8;
  border: 2px solid #cccccc;
  break-inside: avoid-column;
  color: #1E6C80;
  display: inline-table;
  margin: 10px;
  padding: 10px;
  width: 90%;
}

.appt_description,
.grey-card-descr {
  font-size: 18pt;
}

/* Appointment table components */
.appointment * .appt-info-block {
  border-color: #1E6C80;
}

.appointment * .right {
  text-align: right;
}

.short-notice * .appt-info-block {
  border-color: #7A7400;
  color: #7A7400;
}

.appointment * a {
  color: #1E6C80;
  text-decoration: none;
}

.appointment * a:hover {
  text-decoration: underline;
}

.appt_action,
.appt-action {
  display: inline-table;
  padding: 5px;
}

#appt-header-actions > a,
#info-block-subheader > a {
  font-size: 10pt;
}

#appt_header_block td,
#appt-header-block td {
  border-bottom: none;
}

.appt_info_block,
.appt-info-block {
  margin-bottom: 0px;
  text-decoration: none;
  width: 100%;
}

.appt-info-block:not(.no-border) {
  border-bottom: 1px solid;
}

.appt-subblock {
  padding-top: 5px;
  text-align: left;
}

.appt-subblock td {
  border-bottom: none;
  font-size: 10pt;
  vertical-align: top;
}

.info_block_subheader,
.info-block-subheader {
  font-size: 14pt;
  padding-bottom: 5px;
}

/* Formatting for links */

.pink-link {
  color: #A7396E;
  text-decoration: none;
}

.pink-link:hover {
  color: grey;
  text-decoration: underline;
}

/* Formatting for calendar announcements */

/* Box infrastructure */
#calendar-messages {
  width: 100%;
}

.info-box {
  border: 4px solid;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
}

.info-box table {
  margin-bottom: 0;
  width: 100%;
}

.info-box-data {
  border-bottom: 1px solid;
}

.info-box-data.no-border {
  border-bottom: none;
}

/* Subgroup colorings */
.calendar-notes,
.calendar-notes td,
.calendar-notes a {
  background-color: #F2D9E5;
  border-color: #A7396E;
  color: #A7396E;
}

.outstanding-task,
.outstanding-task td,
.outstanding-task a {
  background-color: #ea9999;
  border-color: #800;
  color: #880000;
}

.short-notice,
.short-notice td,
.short-notice a {
  background-color: #FFFCC9;
  border-color: #7A7400;
  color: #7A7400;
}

/* Subcomponent styling */
.alert-symbol {
  font-size: 16pt;
}

.calendar-notes-header {
  font-weight: bold;
}

.info-box-data a {
  text-decoration: none;
}

.info-box-data a:hover {
  text-decoration: underline;
}

.short-notice-subscript {
  font-size: 8pt;
}

#short-notice-table {
  margin-top: 5px;
}

#short-notice-table td {
  border-bottom: none;
  vertical-align: top;
}

#short-notice-table th {
  text-align: left;
  width: 33.33%;
}

/* Formatting for Manage Adopters */

.adopter-email {
  font-size: 8pt;
}

#adopter_list,
#adopter-list {
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
  padding: 0;
}

.adopter-listing {
  border-bottom: 1px solid #BF4580;
  break-inside: avoid-column;
}

.adopter-mgmt-actions {
  list-style-type: "\2937";
  padding-left: 10%;
}

.adopter-name {
  font-size: 14pt;
}

#searchBar {
  border: 1px solid #ddd;
  font-size: 16px;
  margin-bottom: 12px;
  padding: 12px 20px 12px 10px;
  width: 95%;
}

/* Formatting for dog list pages */

.dog-card-field {
  padding: 2px 0;
}

#dog_list,
#dog-list {
  -webkit-column-width: 190px;
  -moz-column-width: 190px;
  column-width: 190px;
  list-style-type: none;
  padding: 0;
}

/* Remainder to refactor */

.datelink {
  text-decoration: none;
  color: #990000
}

.datelink:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 980px) {
  ul.appt_list {
  list-style-type: none;
  padding: 0;
  column-count: 1;
  }

  ul.dog_list {
    column-count: 2;
  }

  ul.appt_solo {
  list-style-type: none;
  padding: 0;
  column-count: 1;
  width: 100%;
  }

  ul.two-col-list {
    column-count: 1;
    text-align: left;
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
  }

  .short_notice_box ul {
    column-count: 1;
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 981px) {
  .appt_list {
    list-style-type: none;
    padding: 0;
    column-count: 2;
  }

  ul.appt_solo {
    list-style-type: none;
    padding: 0;
    column-count: 1;
    width: 75%;
    margin: auto;
  }

  ul.two-col-list {
    text-align: left;
    column-count: 1;
    padding-top: 10px;
  }

  .short_notice_box ul.change_type {
    column-count: 3;
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
  }

  .outstanding_task ul.single {
    column-count: 1;
    padding-top: 10px;
  }
}

.roleselector {
  background-color: #1E6C80;
  width: 100%;
  text-align: center;
}

.roleselector li {
  display: inline-block;
  list-style-type: none;
}

.roleselector a {
  height: 100%;
  color: white;
  text-decoration: none;
  margin: 5px auto;
  padding: 0px 20px;
  font-size: 10pt;
}

.roleselector a:hover {
  color: #48c8d3;
  text-decoration: underline;
}

.roleselector ul {
  width: 100%;
}

.activitymenu {
  /* padding: 5px 0px; */
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 10px 10px 0px 10px;
  border-right: 1px solid #cccccc;
}

.activitymenu img {
  padding-bottom: 10px;
}

.activitymenu li {
  display: inline-block;
  list-style-type: none;
  padding: 5px 0;
  border-bottom: #A7396E 1px solid;
  width: 100%;
}

.activitymenu li.end {
  border-bottom: none;
}

.activitymenu a {
  text-decoration: none;
  color: #A7396E;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  width: 100%;
}

.activitymenu a:hover {
  text-decoration: underline;
}

.actmenu-center {
  text-align: center;
  vertical-align: middle;
}

.actmenu-center ul {
  padding: 0;
  margin: 0;
}

.short_notice table.appt_end_block, table.appt_end_block {
  border-bottom: none;
}

.timeslot, .week, #allreports {
  text-align: center;
  padding: 20px 0px;
}

.timeslot h2 {
  text-align: center;
  padding-bottom: 5px;
}

.day, .report {
  display: inline-table;
  background-color: #48c8d3;
  border: 5px solid #1E6C80;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.short_notice {
  border: 2px solid #7A7400;
  background-color: #FFFCC9;
  color: #7A7400;
}

.timeslot_action {
  color: black;
  text-decoration: none;
}

.timeslot_action:hover {
  text-decoration: underline;
}

.day_action {
  margin-left: 5px;
}

.day_action a {
  color: black;
  text-decoration: none;
}

.day_action a:hover {
  color: #A7396E;
  text-decoration: underline;
}

.contact_adopter {
  border-top: 1px solid #1E6C80;
  border-bottom: 1px solid #1E6C80;
  padding: 5px;
}

.contact_adopter_header {
  font-size: 14pt;
}

.contact_adopter_header a {
  color: #1E6C80;
  text-decoration: none;
}

.contact_adopter_header a:hover {
  color: #1E6C80;
  text-decoration: underline;
}

.contact_adopter_quickbuttons {
  display: inline-table;
}

p.completed_appt_action {
  color: grey;
  display: inline-table;
  text-decoration: line-through;
}

.contact_adopter_quickbutton_links:hover {
  color: #1E6C80;
  text-decoration: underline;
}

.greeter_appt_action_links {
  color: white;
  display: inline-table;
  text-decoration: none;
  margin: 0px 5px;
}

.greeter_appt_action_links:hover {
  color: #1E6C80;
  text-decoration: underline;
}

.day_link a, .report_link a {
  font-size: 18pt;
  color: white;
  text-decoration: none;
}

.day_link a:hover, .report_link a:hover {
  color: #1E6C80;
  text-decoration: underline;
}

.copy_template_button {
  text-align: center;
}

#chosenboard {
  border-collapse: collapse;
}

#chosenboard th {
  text-align: left;
  padding-bottom: 10px;
}

#chosenboard tr {
  border-bottom: 1px solid #1E6C80;
}

#chosenboard tr.no-border {
  border-bottom: none;
  margin-bottom: 15px;
}

#chosenboard td {
  border-bottom: none;
}

input[type=submit].copytemplate {
  background-color: #e8e8e8;
  border: 2px solid #cccccc;
  font-size: 18pt;
  display: inline-table;
  color: #1E6C80;
  padding: 10px;
  font-weight: bold;
}

input[type=submit].copytemplate:hover {
  background-color: #dddddd;
  text-decoration: underline;
  font-weight: bold;
}

p.standalone {
  margin-bottom: 5px;
}

a.standalone {
  color: #A7396E;
  text-decoration: none;
}

a.standalone:hover {
  color: grey;
  text-decoration: underline;
}

.adopter_messages {
  padding: 10px;
  text-align: center;
}

.faq_section_div {
  /* border: 1px solid blue; */
  margin-bottom: 10px;
}

.faq_section {
  /* border: 1px solid purple; */
  margin-bottom: 10px;
}

.faq_question {
  /* border: 1px solid lightblue; */
  margin-bottom: 5px;
}

.visitor_instruction {
  /* border: 1px solid lightblue; */
  margin: 10px 0px;
}

.faq_answer {
  margin-bottom: 15px;
}

.decision_faq_header {
  margin-bottom: 5px;
}

.decision_faq_section_div {
  /* border: 1px solid blue; */
  margin-bottom: 10px;
}

.decision_faq_section {
  /* border: 1px solid purple; */
  margin-bottom: 10px;
}

.decision_faq_question {
  /* border: 1px solid lightblue; */
  margin-bottom: 5px;
}

.decision_faq_answer {
  margin-bottom: 15px;
}

.decision {
  color: grey;
}

a.decision_made {
  color: grey;
}

a.decision_made:hover {
  color: grey;
  text-decoration: none;
}

.decision a {
  color: white;
}

.decision a:visited {
  color: grey;
}

.decision a:hover {
  color: #1E6C80;
  text-decoration: underline;
}

.add_adopter input[type=text], .add_adopter input[type=email], .add_adopter input[type=checkbox] {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 200px;
}

td {
  border-bottom: 1px solid #1E6C80;
  border-collapse: collapse;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 50%;
}

table.appt_info_block {
  margin-bottom: 0px;
  width: 100%;
  border-bottom: 1px solid #1E6C80;
}

.chosen_board_actions a {
  color: #A7396E;
  text-decoration: none;
}

.chosen_board_actions a:hover {
  color: #fd6da8;
  text-decoration: underline;
}

p.greeting {
  font-size: 20pt;
}

#adopter_mgmt_appt {
  width: 90%;
}

.adopter_messages div.info_box li {
  text-align: left;
}

.adopter_messages div.info_box li {
  text-align: left;
}
