* {
  margin: 0;
}

body {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

.outstanding_task,
.outstanding-task {
  background-color: #ea9999;
  border: 4px #880000 solid;
  color: #880000;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
}

.short_notice_box,
.short-notice-box {
  background-color: #FFFCC9;
  border: 4px #7A7400 solid;
  color: #7A7400;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
}

.short_notice_box a,
.short-notice-box a,
.short-notice #appt_header_block a,
.short-notice #appt-header-block a {
  color: #7A7400;
  text-decoration: none;
}

.short_notice_box a:hover,
.short-notice-box a:hover {
  color: #7A7400;
  text-decoration: underline;
}

#searchBar,
#search-bar,
.search-bar {
  border: 1px solid #ddd; 
  font-size: 16px;
  margin-bottom: 12px;
  padding: 12px 20px 12px 10px; 
  width: 95%;
}

.info_box,
.info-box {
  background-color: #F2D9E5;
  border: 4px #A7396E solid;
  color: #A7396E;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
}

.datelink,
.date-link {
  color: #990000;
  text-decoration: none;
}

@media only screen and (max-width: 980px) {
  ul.appt_list,
  ul.appt-list {
    column-count: 1;
    list-style-type: none;
    padding: 0;
  }

  ul.appt_solo,
  ul.appt-solo {
    column-count: 1;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }

  .outstanding_task ul,
  .outstanding-task ul {
    column-count: 1;
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
  }

  .short_notice_box ul,
  .short-notice-box ul {
    column-count: 1;
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
  }

  #adopter_list,
  #adopter-list {
    column-count: 2;
    padding: 0;
  }

}

@media only screen and (min-width: 981px) {
  ul.appt_list,
  ul.appt-list {
    column-count: 2;
    list-style-type: none;
    padding: 0;
  }

  ul.appt_solo,
  ul.appt-solo {
    column-count: 1;
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 75%;
  }

  .outstanding_task ul,
  .outstanding-task ul {
    column-count: 1;
    padding-top: 10px;
  }

  .short_notice_box ul.change_type,
  .short-notice-box ul.change_type {
    column-count: 3;
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
  }

  .outstanding_task ul.single,
  .outstanding-task ul.single {
    column-count: 1;
    padding-top: 10px;
  }

  #adopter_list,
  #adopter-list {
    column-count: 5;
    list-style-type: none;
    padding: 0;
  }

}

.datelink:hover,
.date-link:hover {
  text-decoration: underline;
}

.activitymenu,
.activity-menu {
  border-right: 1px solid #cccccc;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding: 10px 10px 0px 10px;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 1;
}

.activitymenu img,
.activity-menu img {
  padding-bottom: 10px;
}

.main {
  margin-left: 220px;
  width: calc(100% - 220px);
}

.activitymenu li,
.activity-menu li {
  border-bottom: #A7396E 1px solid;
  display: inline-block;
  list-style-type: none;
  padding: 5px 0;
  width: 100%;
}

.activitymenu li.end,
.activity-menu li.end {
  border-bottom: none;
}

.activitymenu a,
.activity-menu a {
  color: #A7396E;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.activitymenu a:hover,
.activity-menu a:hover {
  text-decoration: underline;
}

.actmenu-center {
  text-align: center;
  vertical-align: middle;
}

.actmenu-center ul {
  padding: 0;
  margin: 0;
}

.textpage {
  padding: 10px;
  width: calc(100% - 240px);
}

.timeslot, 
.week, 
#allreports {
  padding: 20px 0px;
  text-align: center;
}

.page_header,
.page-header {
  padding-top: 5px;
  text-align: center;
}

.no_actions,
.no-actions {
  padding-bottom: 15px;
}

.calendar_actions,
.calendar-actions {
  text-align: center;
}

.page_header a, 
.calendar_actions a,
.page-header a, 
.calendar-actions a {
  color: black;
  margin: 5px;
  text-decoration: none;
}

.page_header a:hover, 
.calendar_actions a:hover,
.page-header a:hover, 
.calendar-actions a:hover {
  color: #A7396E;
  text-decoration: underline;
}

.timeslot h2 {
  padding-bottom: 5px;
  text-align: center;
}

.day, 
.report {
  background-color: #48c8d3;
  border: 5px solid #1E6C80;
  border-radius: 15px;
  display: inline-table;
  margin: 10px 10px;
  padding: 10px;
}

.appointment {
  background-color: #e8e8e8;
  border: 2px solid #cccccc;
  color: #1E6C80;
  display: inline-table;
  height: fit-content;
  margin: 10px 10px;
  padding: 10px;
  width: 90%;
}

.short_notice,
.short-notice {
  background-color: #FFFCC9;
  border: 2px solid #7A7400;
  color: #7A7400;
}

.appt_action,
.appt-action {
  display: inline-table;
  padding: 5px;
}

.appt_action a,
.appt-action a {
  color: #1E6C80;
  text-decoration: none;
  margin: 5px;
}

.appt_action a:hover,
.appt-action a:hover {
  color: #1E6C80;
  text-decoration: underline;
}

.timeslot_header,
.timeslot-header {
  font-size: 18pt;
}

.timeslot-table {
  margin: 0;
  padding: 10px;
  width: 100%;
}

.timeslot_action,
.timeslot-action {
  color: black;
  text-decoration: none;
}

.timeslot_action:hover,
.timeslot-action:hover {
  text-decoration: underline;
}

.day_action {
  margin-left: 5px;
}

.day_action a {
  color: black;
  text-decoration: none;
}

.day_action a:hover {
  color: #A7396E;
  text-decoration: underline;
}

.appt_subblock th.right, 
.appt_subblock td.right,
.appt-subblock th.right, 
.appt-subblock td.right {
  text-align: right;
}

.appt_subblock,
.appt-subblock {
  padding-top: 5px;
}

.appt_subblock em,
.appt-subblock em {
  color: #1E6C80;
}

.appt_subblock a:hover,
.appt-subblock a:hover {
  color: #1E6C80;
  text-decoration: underline;
}

.appt_subblock a,
.appt-subblock a {
  color: #1E6C80;
  text-decoration: none;
}

.short_notice .appt_subblock a:hover, 
.short_notice #appt_header_block a:hover,
.short_notice .appt-subblock a:hover, 
.short_notice #appt-header-block a:hover,
.short-notice .appt-subblock a:hover, 
.short-notice #appt-header-block a:hover {
  color: #7A7400;
  text-decoration: underline;
}

.short_notice .appt_subblock a, 
.short_notice #appt_header_block a,
.short_notice .appt-subblock a, 
.short_notice #appt_header-block a,
.short-notice .appt-subblock a, 
.short-notice #appt_header-block a {
  color: #7A7400;
  text-decoration: none;
}

.appt_subblock table,
.appt-subblock table {
  border-bottom: 1px solid #1E6C80;
  text-align: left;
  width: 100%;
}

.appt_subblock th,
.appt-subblock th {
  text-align: left;
}

.appt_subblock td,
.appt-subblock td {
  border-bottom: none;
  font-size: 10pt;
  text-align: left;
  vertical-align: top;
}

.contact_adopter {
  border-bottom: 1px solid #1E6C80;
  border-top: 1px solid #1E6C80;
  padding: 5px;
}

.contact_adopter_header {
  font-size: 14pt;
}

.contact_adopter_header a {
  color: #1E6C80;
  text-decoration: none;
}

.contact_adopter_header a:hover {
  color: #1E6C80;
  text-decoration: underline;
}

.contact_adopter_quickbuttons {
  display: inline-table;
}

span.completed_appt_action,
.completed-appt-action {
  color: grey;
  display: inline-table;
  text-decoration: line-through;
}

.contact_adopter_quickbutton_links:hover {
  color: #1E6C80;
  text-decoration: underline;
}

.greeter_appt_action_links {
  color: white;
  display: inline-table;
  margin: 0px 5px;
  text-decoration: none;
}

.greeter_appt_action_links:hover {
  color: #1E6C80;
  text-decoration: underline;
}

.day_link a, 
.report_link a,
.day-link a, 
.report-link a {
  color: white;
  font-size: 18pt;
  text-decoration: none;
}

.day_link a:hover, 
.report_link a:hover,
.day-link a:hover, 
.report-link a:hover {
  color: #1E6C80;
  text-decoration: underline;
}

.copy_template_button,
.copy-template-button {
  text-align: center;
}

#chosenboard {
  border-collapse: collapse;
}

#chosenboard th {
  padding-bottom: 10px;
  text-align: left;
}

#chosenboard tr {
  border-bottom: 1px solid #1E6C80;
}

#chosenboard tr.no-border {
  border-bottom: none;
  margin-bottom: 15px;
}

#chosenboard td {
  border-bottom: none;
}

input[type=submit].copytemplate,
input[type=submit].copy-template {
  background-color: #e8e8e8;
  border: 2px solid #cccccc;
  color: #1E6C80;
  display: inline-table;
  font-size: 18pt;
  font-weight: bold;
  padding: 10px;
}

input[type=submit].copytemplate:hover,
input[type=submit].copy-template:hover {
  background-color: #dddddd;
  font-weight: bold;
  text-decoration: underline;
}

input[type=submit].submitform
input[type=submit].submit-form {
  background-color: #e8e8e8;
  border: 1px solid #cccccc;
  color: #1E6C80;
  display: inline-table;
  padding: 5px;
}

input[type=submit].submitform:hover
input[type=submit].submit-form:hover {
  background-color: #dddddd;
  font-weight: bold;
  text-decoration: underline;
}

p.standalone {
  margin-bottom: 5px;
}

a.standalone {
  color: #A7396E;
  text-decoration: none;
}

a.standalone:hover {
  color: grey;
  text-decoration: underline;
}

.adopter_messages,
.adopter-messages {
  padding: 10px;
  text-align: center;
}

.visitor_instruction,
.visitor-instruction {
  margin: 10px 0px;
}

.decision_faq_section,
.decision-faq-section,
.decision_faq_section_div,
.decision-faq-section_div,
.faq_section,
.faq-section,
.faq_section_div,
.faq-section-div {
  margin-bottom: 10px;
}

.decision_faq_header,
.decision-faq-header
.decision_faq_question,
.decision-faq-question,
.faq_question,
.faq-question {
  margin-bottom: 5px;
}

.decision_faq_answer,
.decision-faq-answer,
.faq_answer,
.faq-answer {
  margin-bottom: 15px;
}

.decision {
  color: grey;
}

a.decision_made {
  color: grey;
}

a.decision_made:hover {
  color: grey;
  text-decoration: none;
}

.decision a {
  color: white;
}

.decision a:visited {
  color: grey;
}

.decision a:hover {
  color: #1E6C80;
  text-decoration: underline;
}

.add_adopter input[type=checkbox],
.add_adopter input[type=email], 
.add_adopter input[type=text],
.add-adopter input[type=checkbox],
.add-adopter input[type=email], 
.add-adopter input[type=text], {
  margin-bottom: 10px;
}

textarea {
  height: 200px;
  width: 100%;
}

td {
  border-bottom: 1px solid #1E6C80;
  border-collapse: collapse;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 50%;
}

table.appt_info_block, 
table.appt-info-block {
  margin-bottom: 0px;
  width: 100%;
  border-bottom: 1px solid #1E6C80;
}

table.infobox_table,
table.infobox-table {
  width: 100%;
  margin-bottom: 0px;
  margin-top: 5px;
  border-bottom: none;
}

table.infobox_table th,
table.infobox-table th {
  text-align: left;
  width: 33.33%;
}

table.infobox_table td,
table.infobox-table td {
  border-bottom: none;
  vertical-align: top;
}

.short_notice table.appt_info_block,
.short_notice table.appt-info-block,
.short-notice table.appt-info-block {
  border-bottom: 1px solid #7A7400;
}

.short_notice table.appt_end_block, 
.short_notice table.appt-end-block, 
.short-notice table.appt-end-block, 
table.appt-end-block,
table.appt-end-block {
  border-bottom: none;
}

.info_block_subheader,
.info-block-subheader {
  font-size: 14pt;
  padding-bottom: 5px;
}

.appt_description,
.appt-description {
  font-size: 18pt;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.upper {
  text-transform: uppercase;
}

#appt_header_block,
#appt-header-block {
  margin-bottom: 0;
}

#appt_header_block td,
#appt-header-block td {
  border-bottom: none;
}

#appt_header_block a,
#appt-header-block a {
  color: #1E6C80;
  text-decoration: none;
}

#appt_header_block a:hover,
#appt-header-block a:hover {
  color: #1E6C80;
  text-decoration: underline;
}

.chosen_board_actions,
.chosen-board-actions {
  color: #A7396E;
  text-decoration: none;
}

.chosen_board_actions:hover,
.chosen-board-actions:hover {
  color: #fd6da8;
  text-decoration: underline;
}

p.greeting {
  font-size: 20pt;
}

.listpage {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
}

.listpage li {
  margin: 2px 0px;
}

#adopter_mgmt_appt,
#adopter-mgmt-appt {
  width: 90%;
}

.adopter_list_div,
.adopter-list-div {
  break-inside: avoid-column;
}

.adopter_listing,
.adopter-listing {
  border-bottom: 1px solid #BF4580;
}

.adopter_name,
.adopter-name {
  font-size: 14pt;
}

.adopter_email,
.adopter-email {
  font-size: 8pt;
}

.adopter_listing_actions,
.adopter-listing-actions {
  list-style-type: '\2937';
  padding-left: 10%;
}

#calendar-messages {
  width: 100%;
}

.no-border {
  border: none;
}

.half-width {
  width: 50%;
}

.info-box {
  border: 4px solid;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
}

.info-box table {
  margin-bottom: 0;
  width: 100%;
}

.calendar-notes,
.calendar-notes td,
.calendar-notes a {
  background-color: #F2D9E5;
  border-color: #A7396E;
  color: #A7396E;
}

.outstanding-task,
.outstanding-task td,
.outstanding-task a {
  background-color: #ea9999;
  border-color: #800;
  color: #880000;
}

.short-notice,
.short-notice td,
.short-notice a {
  background-color: #FFFCC9;
  border-color: #7A7400;
  color: #7A7400;
}

.completed-all-tasks,
.completed-all-tasks td,
.completed-all-tasks a {
  background-color: #B8FFE0;
  border-color: #005C34;
  color: #005C34;
}

.calendar-notes-header {
  font-weight: bold;
}

.info-box-data {
  border-bottom: 1px solid;
}

.info-box-data.no-border {
  border-bottom: none;
}

.alert-symbol {
  font-size: 16pt;
}

.info-box-data a {
  text-decoration: none;
}

.info-box-data a:hover {
  text-decoration: underline;
}

.short-notice-subscript {
  font-size: 8pt;
}

#short-notice-table {
  margin-top: 5px;
}

#short-notice-table td {
  border-bottom: none;
  vertical-align: top;
}

#short-notice-table th {
  text-align: left;
  width: 33.33%;
}

.ac-two-col-list {
  columns: 2;
  list-style-type: none;
  padding-left: 0;
}
