/* ===================================================
Page foundational layout
=================================================== */

* {
  margin: 0;
}

body {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

/* Conditional formatting for full computers
=================================================== */

.list-page {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
}

.list-page li {
  margin: 2px 0px;
}

.text-page {
  padding: 10px;
  width: calc(100% - 240px);
}

/* Conditional formatting for tablets
=================================================== */

/* Conditional formatting for phones
=================================================== */

/* Activity menu (left sidebar) and subcomponents
=================================================== */

#activity-menu {
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}

#activity-menu li {
  border-bottom: #A7396E 1px solid;
  display: inline-block;
  list-style-type: none;
  padding: 5px 0;
  width: 100%;
}

#activity-menu li.end {
  border-bottom: none;
}

#activity-menu a {
  color: #A7396E;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

#activity-menu a:hover {
  text-decoration: underline;
}

#navbar-list {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

/* Header and toolbar styling
  =================================================== */

.page-header {
  padding-top: 5px;
  text-align: center;
}

.page-actions {
  text-align: center;
}

.page-header a, 
.page-actions a {
  color: black;
  margin: 5px;
  text-decoration: none;
}

.page-header a:hover {
  color: #A7396E;
  text-decoration: underline;
}

/* If no actions available */
.no-actions {
  padding-bottom: 15px;
}

/* ==============================
Subsection toolbar styling (for timeslots, FAQs, visitor instructions, etc.)
============================== */

.subsection {
  padding: 20px 0px;
  text-align: center;
}

.subsection h2 {
  padding-bottom: 5px;
  text-align: center;
}

.subsection-action {
  color: black;
}

.subsection-header {
  font-size: 18pt;
}

.subsection-header a {
  color: black;
}

.subsection-table {
  margin: 0;
  padding: 10px;
  width: 100%;
}

.faq-question a {
  color: black;
}

/* ==============================
Appointment box styling
============================== */

.appointment,
.dog-card,
.litter-card {
  background-color: #e8e8e8;
  border: 2px solid #cccccc;
  color: #1E6C80;
  display: inline-table;
  height: fit-content;
  margin: 10px 8px;
  padding: 10px;
  width: 90%;
}

.appt-two-col-list {
  columns: 2;
  list-style-type: none;
  padding-left: 0;
}

.appt-description,
.dog-description,
.litter-description {
  font-size: 18pt;
}

.appt-info-block,
.dog-info-block,
.litter-info-block {
  border-bottom: 1px solid #1E6C80;
  margin-bottom: 0;
  width: 100%;
}

.appt-info-block.no-border,
.short-notice .appt-info-block.no-border {
  border-bottom: none;
}

.appt-subblock {
  padding-top: 5px;
}

.appt-subblock a,
.appt-subblock a:hover,
#appt-header-block a,
.dog-info-block a,
.litter-info-block a {
  color: #1E6C80;
}

.appt-subblock td {
  border-bottom: none;
  font-size: 10pt;
}

.completed-appt-action {
  color: grey;
  display: inline-table;
  text-decoration: line-through;
}

.info-block-subheader {
  font-size: 14pt;
}

#adopter-mgmt-appt {
  width: 90%;
}

/* Appointment subcomponent styling - short notice
=================================================== */

.short-notice .appt-info-block {
  border-bottom: 1px solid #7A7400;
}

.short-notice .completed-appt-action,
.short-notice #appt-header-block a {
  color: #7A7400;
}

/* ==============================
Alert box styling
============================== */

.info-box {
  background-color: #F2D9E5;
  border: 4px solid;
  color: #A7396E;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
}

.info-box table {
  margin-bottom: 0;
  width: 100%;
}

.info-box-data {
  border-bottom: 1px solid;
}

/* Admin-specific messages */

.calendar-notes-header {
  font-weight: bold;
}

#calendar-messages {
  width: 100%;
}

/* Adopter-specific messages */

.adopter-messages {
  padding: 10px;
  text-align: center;
}

p.greeting {
  font-size: 20pt;
}

/* Calendar notes - magenta theme */
.calendar-notes,
.calendar-notes a,
.calendar-notes a:hover {
  background-color: #F2D9E5;
  border-color: #A7396E;
  color: #A7396E;
}

/* Completed all tasks - green theme */
.completed-all-tasks {
  background-color: #B8FFE0;
  border-color: #005C34;
  color: #005C34;
}

/* Oustanding tasks - red theme */
.outstanding-task,
.outstanding-task a,
.outstanding-task a:hover {
  background-color: #ea9999;
  border-color: #800;
  color: #800;
}

/* Short notice (overall) - gold theme */
.short-notice,
.short-notice a,
.short-notice a:hover {
  background-color: #FFFCC9;
  border-color: #7A7400;
  color: #7A7400;
}

/* Table of contents - blue theme */
.toc,
.toc a,
.toc a:hover {
  background-color: #D2ECF4;
  border-color: #1E6C80;
  color: #1E6C80;
}

/* Timeslot redirect - purple theme */
.timeslot-redirect,
.timeslot-redirect a,
.timeslot-redirect a:hover {
  background-color: #D6ADFF;
  border-color: #6D00C7;
  color: #6D00C7;
}

.timeslot-redirect li {
  display: inline;
}

.timeslot-redirect ul {
  padding: 0;
}

#toc-list {
  list-style-type: disc;
  padding: 5px 0 5px 40px;
}

/* Short notice alert box on calendar
  =================================================== */

#short-notice-table {
  margin-top: 5px;
}

#short-notice-table td {
  border-bottom: none;
  vertical-align: top;
}

#short-notice-table th {
  width: 33.33%;
}

/* ==============================
Form component box styling
============================== */

.add-adopter input {
  margin-bottom: 10px;
}

input[type=submit] {
  background-color: #e8e8e8;
  border: 1px solid #cccccc;
  color: #1E6C80;
  padding: 5px;
}

input[type=submit]:hover {
  background-color: #dddddd;
  font-weight: bold;
  text-decoration: underline;
}

input[type=submit].large-button {
  font-size: 18pt;
  font-weight: bold;
  padding: 10px;
}

input[type=submit].medium-button {
  font-size: 14pt;
  padding: 10px;
}

/* ==============================
List page styling
============================== */

div.adopter-listing {
  break-inside: avoid-column;
}

.adopter-listing-entry {
  border-bottom: 1px solid #BF4580;
}

.adopter-name {
  font-size: 14pt;
}

#search-bar {
  border: 1px solid #ddd; 
  font-size: 16px;
  margin: 12px 0;
  padding: 12px 20px 12px 10px; 
  width: 95%;
}

/* ==============================
Report page styling
============================== */

.report {
  border-collapse: collapse;
  width: 95%;
}

.report td {
  border-bottom: none;
}

.report th {
  padding-bottom: 10px;
  text-align: left;
}

.report tr {
  border-bottom: 1px solid #1E6C80;
}

.report tr.no-border {
  border-bottom: none;
  margin-bottom: 15px;
}

#dow-buttons {
  display: inline;
}

/* ==============================
Login page styling
============================== */

.login-form {
  margin: auto;
  padding-top: 15px;
  width: 400px;
}

.login-form img {
  display: block;
  margin: auto;
}

.login-form input[type=submit].submit-form {
  display: block;
  font-size: 90%;
  font-weight: bold;
  margin: 15px auto;
}

/* ===================================================
Universalisms
=================================================== */

a {
  color: #A7396E;
  text-decoration: none;
}

a:hover {
  color: grey;
  cursor: pointer;
  text-decoration: underline;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 50%;
}

table.print-view {
  font-size: 10pt;
  width: 100%;
}

td {
  border-collapse: collapse;
}

textarea {
  height: 200px;
  width: 100%;
}

th {
  text-align: left;
}

.alert-symbol {
  font-size: 16pt;
}

.auto-margin {
  margin: auto;
}

.block {
  display: block;
}

.bold {
  font-weight: bold;
}

.border-box {
  box-sizing: border-box;
}

.btm-margin-5 {
  margin-bottom: 5px;
}

.btm-margin-10 {
  margin-bottom: 10px;
}

.btm-margin-15 {
  margin-bottom: 15px;
}

.center {
  text-align: center;
}

.font-10 {
  font-size: 10pt;
}

.full-width {
  width: 100%;
}

.greyscale {
  filter: grayscale(1);
}

.half-width {
  width: 50%;
}

.interactive {
  cursor: pointer;
}

.interactive:hover {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.larger-font {
  font-size: larger;
}

.left {
  text-align: left;
}

.left-pad-10 {
  padding-left: 10px;
}

.no-border {
  border: none;
}

.no-bullet {
  list-style-type: none;
}

.no-pad {
  padding: 0;
}

.one-col-list {
  column-count: 1;
}

.pad-10 {
  padding: 10px;
}

.pink {
  color: #A7396E;
}

.right {
  text-align: right;
}

.right-pad-10 {
  padding-right: 10px;
}

.side-margin-5 {
  margin: 0 5px;
}

.strikethrough-italic {
  font-style: italic;
  text-decoration: line-through;
}

.subscript {
  font-size: 8pt;
}

.top {
  vertical-align: top;
}

.top-margin-10 {
  margin-top: 10px;
}

.top-pad-0 {
  padding-top: 0;
}

.top-pad-5 {
  padding-top: 5px;
}

.upper {
  text-transform: uppercase;
}

.width-70 {
  width: 70%;
}

/* Conditional page formatting (needs to be built on) */

@media only screen and (max-width: 1200px) {
  #narrow-screen-nav {
    background-color: #F2D9E5;
    width: 100%;
  }

  #narrow-screen-nav table {
    color: black;
    font-family: 'Bubblegum Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 28pt;
    margin-bottom: 0;
  }

  #narrow-screen-nav img {
    height: 70px;
    vertical-align: middle;
  }

  #activity-menu {
    background-color: rgba(255,255,255, 0.95);
    height: 0;
    transition: 0.5s;
    width: 100%;
  }

  #collapsible {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
  }

  #activity-menu img {
    display: none;
  }

  #activity-menu li {
    border: none;
  }

  #activity-menu a {
    font-size: 18pt;
  }

  #activity-menu-close {
    font-size: 36pt;
    margin-right: 10px;
  }

  ul.appt-list {
    column-count: 2;
    list-style-type: none;
    padding: 0;
  }

  ul.appt-list li {
    width: 100%;
  }

  ul.dog-list {
    column-count: 3;
    list-style-type: none;
    padding: 0;
  }

  ul.dog-list li {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .appointment {
    width: calc(100% - 40px);
  }

  ul.appt_solo,
  ul.appt-solo,
  ul.litter-list {
    column-count: 1;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }

  .outstanding_task ul,
  .outstanding-task ul {
    column-count: 1;
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
  }

  .short_notice_box ul,
  .short-notice-box ul {
    column-count: 1;
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
  }

  #adopter_list,
  #adopter-list {
    column-count: 2;
    padding: 0;
  }
}

@media only screen and (min-width: 1201px) {
  #narrow-screen-nav {
    display: none;
  }

  #activity-menu {
    border-right: 1px solid #cccccc;
    height: 100%;
    padding: 10px 10px 0px 10px;
    width: 200px;
  }

  #activity-menu img {
    padding-bottom: 10px;
  }

  #activity-menu-close {
    display: none;
  }
  
  .main {
    margin-left: 220px;
    width: calc(100% - 220px);
  }

  ul.appt_list,
  ul.appt-list {
    column-count: 2;
    list-style-type: none;
    padding: 0;
  }

  ul.appt_solo,
  ul.appt-solo,
  ul.litter-list {
    column-count: 1;
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 75%;
  }

  .outstanding_task ul,
  .outstanding-task ul {
    column-count: 1;
    padding-top: 10px;
  }

  .short_notice_box ul.change_type,
  .short-notice-box ul.change_type {
    column-count: 3;
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
  }

  .outstanding_task ul.single,
  .outstanding-task ul.single {
    column-count: 1;
    padding-top: 10px;
  }

  #adopter_list,
  #adopter-list {
    column-count: 5;
    list-style-type: none;
    padding: 0;
  }

}

@media only screen and (max-width: 900px) {
  ul.appt_list,
  ul.appt-list {
    column-count: 1;
    list-style-type: none;
    padding: 0;
  }

  ul.appt-list li {
    width: 100%;
  }

  #short-notice-table .subscript {
    display: none;
  }

  #short-notice-table ul {
    margin: 0;
    padding: 0;
  }
  
  #short-notice-table li {
    list-style-type: none;
    font-size: 10pt;
  }
}
