<li><a href="{% url 'calendar' %}">Calendar</a></li>
<li><a href="{% url 'weekly_schedule' %}">Weekly Template</a></li>
<li><a href="{% url 'add_adopter' %}">Add Adopters</a></li>
<li><a href="{% url 'adopter_manage' %}">Manage Adopters</a></li>
<li><a href="{% url 'daily_reports_home' %}">Daily Reports</a></li>
<li><a href="{% url 'chosen_board' %}">Chosen Board</a></li>
<li><a href="{% url 'email_home' %}">Email Templates</a></li>
<li><a href="{% url 'faq' %}">FAQ</a></li>
<li><a href="{% url 'visit_comms' %}">Visit Instructions</a></li>
