{% load auth_extras %}

<li><a href="{% url 'calendar' %}">Calendar</a></li>
<li><a href="{% url 'weekly_schedule' %}">Weekly Template</a></li>
<li><a href="{% url 'add_adopter' %}">Add Adopters</a></li>
<li><a href="{% url 'adopter_manage' %}">Manage Adopters</a></li>
<li><a href="{% url 'daily_reports_home' %}">Daily Report</a></li>
<li><a href="{% url 'chosen_board' %}">Chosen Board</a></li>
<li><a href="{% url 'email_home' %}">Email Templates</a></li>
{% if s|outbox_count > 0 %}
  <li><a href="{% url 'outbox' %}">Outbox ({{s|outbox_count}})</a></li>
{% endif %}
<li><a href="{% url 'faq' %}">FAQ</a></li>
<li><a href="{% url 'visitor_instructions' %}">Visit Instructions</a></li>
<!-- <li><a href="{% url 'help' %}">Help</a></li> -->
<li><a href="https://docs.google.com/document/d/1D_-MGNVgaxyzmcqeO1DeWDYwPAlEVJH82kzS_djcO0E/edit?usp=sharing" target="blank">Help</a></li>
{% if request.user|has_group:"superuser" %}
  <li><a href="{% url 'display_list' %}">Appt-Only Dogs</a></li>
  <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
  <li><a href="{% url 'fake500' %}">Prompt 500</a></li>
{% endif %}
