{% if adopter.acknowledged_faq == True %}
  <nav>
    <div class="actmenu-center">
      <ul>
        <li><a href="{% url 'adopter_home' adopter.id %}">Calendar</a></li>
        <li><a href="{% url 'faq' adopter.id %}">FAQ</a></li>

        {% if adopter.has_current_appt == True %}
          <li><a href="{% url 'visitor_instructions' adopter.id %}">Visitor Instructions</a></li>
        {% endif %}

        <li><a href="{% url 'contact_us' adopter.id %}">Contact Us</a></li>
        <li class="end"><a href="{% url 'logout' %}">Log Out</a></li>
      </ul>
    </div>
  </nav>

{% else %}

  <nav>
    <div class="actmenu-center">
      <ul>
        <li class="end"><a href="{% url 'adopter_home' adopter.id %}">Home</a></li>
      </ul>
    </div>
  </nav>

{% endif %}
