<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    {% load auth_extras %}
    <meta charset="utf-8">

    {% if page_title %}
      <title>{{page_title}}</title>
    {% else %}
      <title>ShelterCenter</title>
    {% endif %}

    {% if go_to_div %}
      <script type="text/javascript">
        window.location.hash = '#{{go_to_div}}';
      </script>
    {% endif %}
    
    <script type="text/javascript">
      function updateAppointmentBox(checkbox) {
        var checkboxElement = document.getElementById(checkbox);
        var cardElement = document.getElementsByClassName(checkbox.slice(4));

        console.log(cardElement);

        if (checkboxElement.checked) {
          console.log('checked');
          for (let i = 0; i < cardElement.length; i++) {
            if (cardElement[i] instanceof HTMLTableRowElement) {
              cardElement[i].style.display = "table-row";
            } else {
              cardElement[i].style.display = "list-item";
            }
          }
        } else {
          console.log('unchecked');
          for (let i = 0; i < cardElement.length; i++) {
            cardElement[i].style.display = "none";
          }        }

        assignDefaultAlignments("ac-two-col-list");

      }

      function assignDefaultAlignments(sublistID) {
        var sublists = document.getElementsByClassName(sublistID);
        for (let sublist = 0; sublist < sublists.length; sublist++) {
          affectedElements = Array.from(sublists[sublist].getElementsByTagName("li")).filter(isVisible);
          console.log(affectedElements);
          for (let i = 0; i < affectedElements.length; i++) {
            let cutOff = affectedElements.length / 2;
            console.log(cutOff, i);
            if (i >= cutOff) {
              affectedElements[i].style.textAlign = "right";
            }
          }
        }
      }

      function isVisible(element) {
        return element.style.display != "none";
      }
    
      window.onload = function() {
        assignDefaultAlignments("ac-two-col-list");

      }
    </script>
    
    <link rel="icon" href="{% static 'media/logo.png' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet"  href="{%  static  'main.css'  %}">
  </head>
  <body>
    <div class="activitymenu">
      <a href="https://savinggracenc.org/" target="_blank"><img src="{% static 'media/logo.png' %}" alt=""></a>

      {% block nav %}

        <nav>
          <div class="actmenu-center">
            <ul>

              {% if request.user|has_group:"admin" %}
                {% include 'dashboard/admin_navbar.html' %}

              {% elif request.user|has_group:"greeter" %}
                {% include 'dashboard/greeter_navbar.html' %}

              {% elif request.user|has_group:"adopter" %}
                {% include 'dashboard/adopter_navbar.html' %}
              {% endif %}

              <li class="end"><a href="{% url 'logout' %}">Log Out</a></li>
            </ul>
          </div>
        </nav>

      {% endblock %}

    </div>

    {% block content %} {% endblock %}

  </body>
</html>
