<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet"  href="{%  static  'main.css'  %}">
  </head>
  <body>
    <div class="login-form">
      <a href="https://savinggracenc.org/" target="_blank">
        <img src="{% static 'media/logo.png' %}" alt="">
      </a>
      <h3 class="page-header">Scheduling Portal</h3>
      <div class="page-header font-10 top-pad-0">Powered by ShelterCenter</div>
        <form class="top-margin-10" action="" method="post">
          {% csrf_token %}
          <div class="auto-margin width-70">
            <p>
              <label for="username">Enter your {{login_cred}}:</label><br>
              <input type="text" placeholder="{{cred_placeholder}}" class="full-width border-box" name="username" value="">
            </p><br>
            <p>
              <label for="password">Enter your {{pw_cred}}:</label><br>
              <input type="password" placeholder="{{pw_placeholder}}" class="full-width border-box" name="password" value="">
            </p>
          </div>
          <input class="submit-form" class="half-width" type="submit" onClick="this.form.submit(); this.disabled=true;" name="" value="Log In">
        </form>
        {% if other_role == 'Greeters and staff' %}
        <a class="auto-margin block center" href="{% url 'staff_login' %}">{{other_role}} - click here to log in</a>
        {% else %}
        <a class="auto-margin block center" href="{% url 'login' %}">{{other_role}} - click here to log in</a>
        {% endif %}
    </div>
  </body>
</html>