{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="main textpage">
    <h1 class="page_header">Manage Adopters</h1>

    <div class="calendar_actions" style="margin-bottom: 15px;">
      <a href="{% url 'send_to_inactive' %}">Send Follow-Up Emails</a>
    </div>

    <div class="" style="display: block; margin: auto; width: 100%; font-size: 16pt; margin-bottom: 5px;">
      <span style="font-weight: bold;">First Name:</span>
      {% for letter in alphabet %}
      <a href="{% url 'manage_filter' 'fname' letter %}" class="standalone" style="font-size: 16pt;">{{letter}}</a>
      {% endfor %}
    </div>
    <div class="" style="display: block; margin: auto; width: 100%; font-size: 16pt; margin-bottom: 10px;">
      <span style="font-weight: bold;">Last Name:</span>
      {% for letter in alphabet %}
      <a href="{% url 'manage_filter' 'lname' letter %}" class="standalone" style="font-size: 16pt;">{{letter}}</a>
      {% endfor %}
    </div>

    <ul class="listpage" id="adopter_list">
      {% for adopter in adopters %}
        <div class="" style="break-inside: avoid-column; border-bottom: 1px solid #BF4580;"">
          <li>
            <a class="standalone" href="{% url 'edit_adopter' adopter.id %}">
              <span style="font-size: 14pt;">
              {% if lname_fname %}
                {{adopter.adopter_last_name}}, {{adopter.adopter_first_name}}
              {% else %}
                {{adopter}}
              {% endif %}
              {% if adopter.status == "2" %}
                &#128683;&#xFE0E;</span><br>
              {% elif adopter.status == "3" %}
                &#x231B;&#xFE0E;</span><br>
              {% else %}
                </span><br>
                <span style="font-size: 8pt;">{{adopter.adopter_email}}</span>
              {% endif %}
            </a>

          </li>
          <ul style="padding-left: 10%; list-style-type: '&#10551;';">
            {% if adopter.status != "2" and adopter.status != "3" %}
              <li><a class="standalone" href="{% url 'resend_invite' adopter.id %}">Resend Invitation</a></li>
              <li><a class="standalone" href="{% url 'set_alert_mgr' adopter.id %}">Set Reminder</a></li>
            {% endif %}
          </ul>
        </div>
      {% endfor %}
    </ul>

  </div>
{% endblock %}
