{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="main textpage">

    <h1 class="page_header no_actions">Contact Adopter</h1>
    <form class="" action="" method="post">
      <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
      <script>
        tinymce.init({
          selector:'textarea',
          height:'512px',
          plugins:'link textcolor',
          menubar: 'file edit insert view format table tools help',
          toolbar: 'undo redo | styleselect | bold italic forecolor fontsizeselect | alignleft aligncenter alignright alignjustify | outdent indent | link',
        });
      </script>
      {% csrf_token %}
      {{ form.as_p }}
      <input class="submitform" type="submit" name="" value="Send Message">
    </form>

  </div>
{% endblock %}
