{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="main text-page">
  <h1 class="page-header no-actions">Contact Adopter</h1>
  <form method="post">
    <script src="https://cdn.tiny.cloud/1/zbvegpc0ft1hz8gayhmf16b101myy5aezzkm142h0qgrrz2v/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        height:'512px',
        image_uploadtab: true,
        menubar: 'file edit insert view format table tools help',
        plugins:'link textcolor image',
        selector:'textarea',
        toolbar: 'undo redo | styleselect | bold italic forecolor fontsizeselect | alignleft aligncenter alignright alignjustify | outdent indent | link image',
      });
    </script>
    {% csrf_token %}
    {{ form.as_p }}
    <input class="submit-form" type="submit" onClick="this.form.submit(); this.disabled=true;" value="Send Message">
  </form>
</div>
{% endblock %}
