{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="main textpage">

    <h1 class="page_header">Contact Us</h1>

    <p class="standalone">You can use the message field below to submit a message directly to our Adoptions team.</p>
    <p class="standalone">Before submitting, <a class="standalone" href="{% url 'faq' adopter.id %}">please read our FAQ page!</a> Our team can be slow to respond to emails and you may find the answer to your question more quickly by reading our FAQs thoroughly.</p>
    <br>
    <form class="" action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <input class="submitform" type="submit" name="" value="Submit">
    </form>

  </div>
{% endblock %}
