{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="main textpage">

    <h1 class="page_header no_actions">Your Adoption Request Has Been Reviewed</h1>

    <p>Hi {{first_name}},</p>
    <br>
    <p>Congratulations, your Saving Grace adoption request has been reviewed and accepted. It is time to schedule your appointment. Please review the following information, as many of our FAQs are addressed here.</p>

    <p><br>The Adoptions Team<br>Saving Grace Animals for Adoption</p>
    <br>

    {% include 'adopter/faq.html' %}

    <form class="" action="{% url 'acknowledged_faq' %}" method="post">
      {% csrf_token %}
      <input type="checkbox" name="read_faq" value="read_faq" required>
      <label for="read_faq"> I have read the Frequently Asked Questions and am ready to schedule my appointment.</label><br><br>
      <input class="submitform" type="submit" name="" value="Let's schedule my appointment!">
    </form>

  </div>
{% endblock %}
