{% extends 'dashboard/base.html' %}
{% load static %}
{% load auth_extras %}

{% block content %}
<div class="main text-page">
  <h1 class="page-header no-actions">{{adopter.full_name}}</h1>
  {% if adopter.has_current_appt %}
  <ul class="appt-solo" id="adopter-mgmt-appt">
    <li class="appt-slot">
      {% include 'appt_calendar/appointment_admin.html' %}
    </li>
  </ul>
  {% elif adopter.status == "1" %}
  <ul class="appt-solo" id="adopter-mgmt-appt">
    <li class="appt-slot">
      {% include 'adopter/adopter_mgmt_menu.html' %}
    </li>
  </ul>
  {% else %}
  <div class="info-box btm-margin-10">
    <span class="alert-symbol">&#9432;&#xFE0E;</span> This adopter was not approved. If you have approved a previously-denied application from this adopter, please change their status.
  </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input class="submit-form" type="submit" onClick="this.form.submit(); this.disabled=true;"  value="Submit">
  </form>
</div>

{% if alert %}
<footer>
  <script type="text/javascript">
    alert("Calendar access restored for {{adopter.full_name}}.")
  </script>
</footer>
{% endif %}
{% endblock %}
