{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="main textpage">
    <h1 class="page_header no_actions">Set Reminder for {{adopter.adopter_full_name}}</h1>

    <p class="standalone">Select the date {{adopter.adopter_first_name}} would like to come in. They will be notified when we publish appointments for that date.</p>
    <br>
    <form class="" action="" method="post">
      {% csrf_token %}

      <p>{{form}}</p>

      <input class="submitform" type="submit" name="" value="Submit">
    </form>

  </div>
{% endblock %}
