{% extends 'dashboard/base.html' %}
{% load static %}
{% load auth_extras %}

{% block content %}
<div class="main text-page">
  <h1 class="page-header no-actions">Hmm, this file is pretty big...</h1>
  <span class="btm-margin-5">The file you attempted to upload has over 50 records. Did you accidentally export a full month?</span><br>
  <span class="btm-margin-5">To stop us from accidentally uploading too many adopters at once, as well as optimize performance, Sam has set a limit of 50 uploads at a time. If you need to upload more than that, <a href="mailto:leifersam9@gmail.com">please send your file to him (leifersam9@gmail.com)</a> so he can upload it in multiple batches.</span>
</div>
{% endblock %}
