{% extends 'dashboard/base.html' %}
{% load static %}
{% load auth_extras %}

{% block content %}
  <div class="main textpage">
    {% if request.user|has_group:"admin" %}
      <h1 class="page_header">Visit Instructions</h1>
      <div class="calendar_actions">
        <a href="{% url 'add_visitor_instr' %}">Add Visit Instruction</a>
      </div>
    {% else %}
      <h1 class="page_header no_actions">Visit Instructions</h1>
    {% endif %}

    {% include 'adopter/visitor_instructions_content.html' %}
  </div>
{% endblock %}
