{% load appt_extras %}
{% load auth_extras %}

<div class="appointment {% if appt.short_notice %} short-notice {% endif %}" id="appt{{appt.id}}">
  {% if not appt.available %}
  <table class="appt-info-block" id="appt-header-block">
  {% else %}
  <table class="appt-info-block no-border" id="appt-header-block">
  {% endif %}
    <tbody>
      <tr>
        <td class="appt-description left upper">
          <a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">
            {% if appt.locked %}&#128274;&#xFE0E;{% endif %}
            {% if appt.short_notice %}&#9888;&#xFE0E;{% endif %}
            {% if show_timestr %}{{appt_str}}{% else %}{{appt}}{% endif %}
          </a>
          {% if appt.mobility %}&#9855;&#xFE0E;{% endif %}
          {% if appt.bringing_dog %}&#128021;&#xFE0E;{% endif %}
          {% if appt.has_cat %}&#128008;&#xFE0E;{% endif %}
        </td>

        <td class="appt-description right">
          {% if appt.locked %}
          <a href="{% url 'toggle_lock' appt.id date.year date.month date.day %}">&#128275;&#xFE0E;</a>
          {% else %}
          <a href="{% url 'toggle_lock' appt.id date.year date.month date.day %}">&#128274;&#xFE0E;</a>
          {% endif %}
          <a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">&#9998;&#xFE0E;</a>
          {% if appt.adopter %}
          <a href="https://www.shelterluv.com/adoption_request_print/{{appt.adopter.application_id}}" target="_blank">&#128196;&#xFE0E;</a>
          <a href="{% url 'remove_adopter' appt.id date.year date.month date.day %}">&#128100;&#xFE0E;<sub style="font-size: 8pt;">&#128683;&#xFE0E;</sub></a>
          {% endif %}
          <a href="{% url 'delete_cal_appointment' appt.id date.year date.month date.day %}">&#10006;&#xFE0E;</a>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <ul class="appt-two-col-list">
            {% if appt.appt_type != "8" %}<li>({{appt.appt_string}})</li>{% endif %}
            {% if appt.visits_to_date >= 1 and appt.appt_type in schedulable %}<li>{{appt.number_of_visits}}</li>{% endif %}
            {% if appt.adopter.lives_with_parents and appt.visits_to_date == 0 and appt.appt_type in schedulable %}<li>Must bring a parent!</li>{% endif %}
            {% if appt.bringing_dog %}<li>Bringing dog!</li>{% endif %}
            {% if appt.has_cat %}<li>Has a cat!</li>{% endif %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  {% if not appt.available %}

  {% if appt.appt_type in schedulable and appt.adopter %}
  <table class="appt-subblock appt-info-block contact-subblock">
    <tr class="info-block-subheader">
      <th>Contact Info</th>
    </tr>
    <tr>
      <td>
        <ul class="appt-two-col-list">
          <li class="adopter-email">{{appt.adopter.primary_email}}</li>
          <li class="adopter-phone">
            {% if appt.adopter.phone_number != "See application" %}
            {{appt.adopter.phone_number}}
            {% else %}
            See application for phone number.
            {% endif %}
          </li>
          {% if appt.checked_in %}
          <li>{{appt.adopter_description}}</li>
          <li>
            {% if appt.counselor != "" %}
            <b>Counselor:</b> {{appt.counselor}}
            {% else %}
            <em><a href="{% url 'check_in_appt' appt.id date.year date.month date.day%}">Assign Counselor</a></em>
            {% endif %}
          </li>
          {% endif %}
        </ul>
      </td>
    </tr>
  </table>

  <table class="appt-subblock appt-info-block notes-subblock">
  <!-- if false, it is an open appointment, paperwork, or surrender and could have notes at most -->
  {% else %}
  <table class="appt-subblock appt-info-block no-border notes-subblock">
  {% endif %}      
    <tbody>
      <tr class="info-block-subheader">
        <th class="left">
          <a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">Notes</a>
        </th>
        <th class="right">
          <a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">&#9998;&#xFE0E;</a>
        </th>
      </tr>

      {% if appt|show_notes %}
        {% if appt.internal_notes %}
        <tr class="internal-notes">
          <td class="left" style="width:20%;"><b>From Adoptions:</b></td>
          <td class="left"><a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}"> {{appt.internal_notes|linebreaks}}</a></td>
        </tr>
        {% endif %}

        {% if appt.adopter_notes %}
        <tr class="adopter-notes">
          <td class="left" style="width:20%;"><b>From {{appt.adopter.f_name}}:</b></td>
          <td class="left">{{appt.adopter_notes|linebreaks}}</td>
        </tr>
        {% endif %}

        {% if appt.adopter.app_interest and appt.appt_type in schedulable %}
        <tr class="shelterluv-notes">
          <td class="left" style="width:20%;"><b>From Shelterluv:</b></td>
          <td class="left">{{appt.adopter.app_interest_str|linebreaks}}</td>
        </tr>
        {% endif %}

        {% if appt|show_watchlist:"either" and appt.schedulable %}
        <tr class="watchlist">
          <td class="left" style="width:20%;"><b>Watch List:</b></td>
          <td class="left">
            {% if appt.adopter.watchlist_available_str %}
              {% if appt|show_watchlist:"available" %}
              {{appt.adopter.watchlist_available_str}}
              {% endif %}
              {% if appt|show_watchlist:"both" %}
              <br>
              {% endif %}
            {% endif %}
            {% if appt|show_watchlist:"unavailable" and appt.schedulable and appt.adopter.watchlist_unavailable_str %}
            <span class="left strikethrough-italic">{{appt.adopter.watchlist_unavailable_str}}</span>
            {% endif %}
          </td>
        </tr>
        {% endif %}
      {% else %}
        <tr>
          <td class="left">
            <a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">No notes on file for this appointment. Click to add a note.</a>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  {% endif %}

  <!-- if appt is booked, show actions and contacts -->
  {% if appt.appt_type in schedulable and appt.available == False %}
  <table class="appt-subblock appt-info-block about-subblock">
    <tbody>
      <tr class="info-block-subheader">
        <th>About {{appt.adopter.f_name}}</th>
      </tr>
      <tr>
        <td>
          <ul class="appt-two-col-list">
            {% if appt.adopter.city == "" and appt.adopter.state == "" %}
            <li>No Shelterluv information on file.</li>
            {% else %}
            <li class="city-state">Coming from {{appt.adopter.city}}, {{appt.adopter.state}}</li> 
            <li class="household-activity">{{appt.adopter.activity_level}} Activity Household</li>
            <li class="booking-timestamp">{{appt.dt_booking_string}}</li>
            <li class="housing">{{appt.adopter.housing_type}} ({{appt.adopter.housing}})</li>
            <li class="fence">
              {% if appt.adopter.has_fence %}
              Has Fence
              {% elif appt.adopter.application_id and not appt.adopter.has_fence %}
              No Fence
              {% endif %}
            </li>
            {% endif %}
          </ul>
        </td>
      </tr>          
    </tbody>
  </table>

  {% if appt.adopter.show_preferences %}
  <table class="appt-subblock appt-info-block preferences-subblock">
    <tbody>
      <tr class="info-block-subheader">
        <th>{{appt.adopter.f_name}}'s Preferences</th>
      </tr>
      <tr>
        <td>
          <ul class="appt-two-col-list">
            {% if appt.adopter.gender_preference == "2" %}
            <li class="gender-preference">Only interested in females</li>
            {% elif appt.adopter.gender_preference == "3" %}
            <li class="gender-preference">Only interested in males</li>
            {% endif %}
            {% if appt.adopter.age_preference == "2" %}
            <li class="age-preference">Puppies only</li>
            {% elif appt.adopter.age_preference == "3" %}
            <li class="gender-preference">Adults only</li>
            {% endif %}
            {% if appt.adopter.min_weight > 0 and appt.adopter.max_weight == 0 %}
            <li class="weight-preference">Looking for over {{appt.adopter.min_weight}} lbs.</li>
            {% elif appt.adopter.max_weight > 0 and appt.adopter.min_weight == 0 %}
            <li class="weight-preference">Looking for under {{appt.adopter.max_weight}} lbs.</li>
            {% elif appt.adopter.min_weight > 0 and appt.adopter.max_weight > 0 %}
            <li class="weight-preference">Looking for between {{appt.adopter.min_weight}} and {{appt.adopter.max_weight}} lbs.</li>
            {% endif %}
            {% if appt.adopter.hypo_preferred %}
            <li class="hypo-preference">Needs hypo/low-shedding!</li>
            {% endif %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  {% endif %}

  <table class="appt-subblock appt-info-block">
    <tbody>
      <tr class="info-block-subheader">
        <th>
          <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'calendar' %}">Contact {{appt.adopter.f_name}}</a>
        </th>
      </tr>
      <tr>
        <td>
          <ul class="appt-two-col-list">
            {% if appt.adopter.housing != "Own" %}
            <li class="breed-restriction-comm">
              {% if appt.comm_reminder_breed == False %}
              <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'reminder_breed' %}">Breed Restrictions</a>
              {% else %}
              <span class="completed-appt-action">Breed Restrictions</span>
              {% endif %}
            </li>
            {% endif %}
            <li class="dogs-adopted-comm">
              {% if appt.comm_adopted_dogs == False %}
                <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'dogs_were_adopted' %}">Dogs Were Adopted</a>
              {% else %}
                <span class="completed-appt-action">Dogs Were Adopted</span>
              {% endif %}
            </li>
            <li class="dog-in-extended-host-comm">
              {% if appt.comm_dog_in_extended_host == False %}
                <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'dog_in_extended_host' %}">Dog In Ext. Host</a>
              {% else %}
                <span class="completed-appt-action">Dog In Ext. Host</span>
              {% endif %}
            </li>
            <li class="dog-in-medical-foster-comm">
              {% if appt.comm_dog_in_medical_foster == False %}
                <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'dog_in_medical_foster' %}">Dog In Med. Foster</a>
              {% else %}
                <span class="completed-appt-action">Dog Were Adopted</span>
              {% endif %}
            </li>
            <li class="dog-is-popular-low-chances-comm">
              {% if appt.comm_dog_is_popular_low_chances == False %}
                <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'dog_is_popular_low_chances' %}">Dog Is Popular (Low Chances)</a>
              {% else %}
                <span class="completed-appt-action">Dog Is Popular (Low Chances)</span>
              {% endif %}
            </li>
            <li class="dog-is-popular-comm">
              {% if appt.comm_dog_is_popular == False %}
                <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'dog_is_popular_x_in_line' %}">Dog Is Popular (X in Line)</a>
              {% else %}
                <span class="completed-appt-action">Dog Is Popular (X in Line)</span>
              {% endif %}
            </li>
            <li class="dog-not-here-yet-comm">
              {% if appt.comm_dog_not_here_yet == False %}
                <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'dog_not_here_yet' %}">Dog Not Here Yet</a>
              {% else %}
                <span class="completed-appt-action">Dog Is Popular</span>
              {% endif %}
            </li>
            <li class="limited-hypo-comm">
              {% if appt.comm_limited_hypo == False %}
                <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'limited_hypo' %}">Limited Low-shed/Hypo</a>
              {% else %}
                <p class="completed-appt-action">Limited Low-shed/Hypo</p>
              {% endif %}
            </li>
            <li class="limited-puppies-comm">
              {% if appt.comm_limited_puppies == False %}
                <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'limited_puppies' %}">Limited Puppies</a>
              {% else %}
                <p class="completed-appt-action">Limited Puppies</p>
              {% endif %}
            </li>
            <li class="limited-small-dogs-comm">
              {% if appt.comm_limited_small == False %}
                <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'limited_small' %}">Limited Small Dogs</a>
              {% else %}
                <p class="completed-appt-action">Limited Small Dogs</p>
              {% endif %}
            </li>
            <li class="limited-small-puppies-comm">
              {% if appt.comm_limited_small_puppies == False %}
                <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'limited_small_puppies' %}">Limited Small Puppies</a>
              {% else %}
                <p class="completed-appt-action">Limited Small Puppies</p>
              {% endif %}
            </li>
            {% if appt.adopter.lives_with_parents %}
            <li class="lives-with-parents-comm">
              {% if appt.comm_reminder_parents == False %}
              <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'reminder_parents' %}">Lives With Parents</a>
              {% else %}
              <span class="completed-appt-action">Lives With Parents</span>
              {% endif %}
            </li>
            {% endif %}
            <li><a href="{% url 'resend_invite' appt.adopter.id %}">Resend Approval Email</a></li>
            <li><a href="{% url 'resend_confirmation' appt.id %}">Resend Confirmation</a></li>
          </ul>
        </td>
      </tr>  
    </tbody>
  </table>

  <table class="appt-subblock appt-info-block actions-subblock">
    <tbody>
      <tr class="info-block-subheader">
        <th>Actions</th>
      </tr>
      <tr>
        <td colspan="1">
          <ul class="appt-two-col-list">
            <li>
              {% if appt.outcome == "1" %}
                {% if appt.checked_in %}
                  <a href="{% url 'enter_decision' appt.id date.year date.month date.day%}">Enter Decision</a>
                {% else %}
                  <a href="{% url 'check_in_appt' appt.id date.year date.month date.day%}">Check In</a> &#x2022; <a href="{% url 'enter_decision' appt.id date.year date.month date.day%}">Enter Decision</a>
                {% endif %}
              {% else %}
                {% if appt.outcome == "5" or appt.outcome == "6" or appt.outcome == "11" %}
                  <a href="{% url 'enter_decision' appt.id date.year date.month date.day%}">{{appt.get_outcome_display}}</a>
                {% else %}
                  <a href="{% url 'enter_decision' appt.id date.year date.month date.day%}">{{appt.get_outcome_display}}: {{appt.dog.upper}}</a>
                {% endif %}
              {% endif %}
            </li>
            <li><a href="{% url 'greeter_reschedule' appt.adopter.id appt.id date.year date.month date.day 'calendar' %}">Reschedule Adopter</a></li>
            <li><a href="{% url 'remove_adopter' appt.id date.year date.month date.day %}">Cancel Adopter</a></li>
            <li><a href="https://www.shelterluv.com/adoption_request_print/{{appt.adopter.application_id}}" target="_blank">Print Application</a></li>
            {% if request.user|has_group:"superuser" %}
            <li><a href="https://sheltercenter.dog/admin/adopter/adopter/{{appt.adopter.id}}/change/">Edit Adopter in Admin</a></li> 
            <li><a href="http://sheltercenter.dog/admin/appt_calendar/appointment/{{appt.id}}/change/">Edit Appointment in Admin</a></li>
            {% endif %}
          </ul>
        </td>
      </tr>  
    </tbody>
  </table>

  <!-- actions table will always be last (if present) -->
  <table class="appt-subblock appt-info-block no-border follow_ups-subblock">
    <tbody>
      <tr class="info-block-subheader">
        <th>Follow-Ups</th>
      </tr>
      <tr>
        <td>
          <ul class="appt-two-col-list">
            <li class="send-follow-up">
              {% if appt.comm_followup == False %}
                <a href="{% url 'send_followup' appt.id date.year date.month date.day 0 %}">Send Follow-Up Email</a>
              {% else %}
                <span class="completed-appt-action">Send Follow-Up Email</span>
              {% endif %}
            </li>
            <li class="send-follow-up-with-host">
              {% if appt.comm_followup == False %}
                <a href="{% url 'send_followup' appt.id date.year date.month date.day 1 %}">Send Follow-Up Email (with Host Info)</a>
              {% else %}
                <span class="completed-appt-action">Send Follow-Up Email (with Host Info)</span>
              {% endif %}
            </li>
            <li class="schedule-next">
              <a href="{% url 'greeter_reschedule' appt.adopter.id appt.id date.year date.month date.day 'followup' %}">Schedule Next Appointment</a>
            </li>
          </ul>
        </td>
      </tr>      
    </tbody>
  </table>

  {% endif %}
</div>
