<div class="appointment">

  <!-- header grid, has a bottom border unless it is the only section -->
  <!-- it will be the only section when the appointment is not booked and has no notes -->
  {% if appt.internal_notes or appt.adopter_notes or appt.adopter.app_interest and appt.appt_type in schedulable %}
    <table class="appt_info_block" id="appt_header_block">
  {% else %}
    <table class="appt_info_block appt_end_block" id="appt_header_block">
  {% endif %}

    <tr>
      <td class="appt_description left upper"><b><p class="appt_action">{{appt}}</p>
      {% if appt.mobility %}
        &#9855;&#xFE0E;
      {% endif %}
      {% if appt.bringing_dog %}
        &#128021;&#xFE0E;
      {% endif %}
      {% if appt.has_cat %}
        &#128008;&#xFE0E;
      {% endif %}
      </td>

      <td class="appt_description right"></td>
    </tr>

    <tr>
      <td class="left" style="width: 50%;"><b>({{appt.appt_string}})</b></td>
      <td class="right" style="width: 50%;">
        <!-- displays bringing dog if applicable, bumps up has a cat if applicable -->
        {% if appt.bringing_dog %}
          <b>Bringing dog!<br></b>
        {% elif appt.has_cat and not appt.bringing_dog %}
          <b>Has a cat!</b>
        {% endif %}
      </td>
    </tr>

    <tr>
      <td class="left" style="width: 50%;">
        <!-- displays number_of_visits if second visit or greater -->
        {% if appt.visits_to_date > 1 %}
          <b>{{appt.number_of_visits}}</b>
        {% endif %}
        {% if appt.adopter.lives_with_parents and appt.visits_to_date == 0 and appt.appt_type in schedulable %}
          <b>Must bring a parent!</b>
        {% endif %}
      </td>
      <td class="right" style="width: 50%;">
        <!-- displays has a cat if applicable and bringing dog -->
        {% if appt.bringing_dog and appt.has_cat %}
          <b>Has a cat!</b>
        {% endif %}
      </td>
    </tr>

  <!-- end header table -->
  </table>


  {% if appt.internal_notes or appt.adopter_notes or appt.adopter.app_interest and appt.appt_type in schedulable %}

    <!-- if the appt has an adopter attached, there should be options for contact and other actions -->
    {% if appt.appt_type in schedulable and appt.available == False %}
      <table class="appt_subblock appt_info_block">
    <!-- if not, it is an open appointment, paperwork, or surrender and could have notes at most -->
    {% else %}
      <table class="appt_subblock appt_info_block appt_end_block">
    {% endif %}

      <tr class="info_block_subheader">
        <th class="left"><p>Notes</p></th>
        <th class="right"></th>
      </tr>

      {% if appt.internal_notes %}
      <tr>
        <td class="left"><b>From Adoptions:</b></td>
        <td class="left"><a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}"> {{appt.internal_notes|linebreaks}}</a></td>
      </tr>
      {% endif %}

      {% if appt.adopter_notes %}
      <tr>
        <td class="left"><b>From {{appt.adopter.f_name}}:</b></td>
        <td class="left">{{appt.adopter_notes|linebreaks}}</td>
      </tr>
      {% endif %}

      {% if appt.adopter.app_interest and appt.appt_type in schedulable %}
      <tr>
        <td class="left"><b>From Shelterluv:</b></td>
        <td class="left">{{appt.adopter.app_interest|linebreaks}}</td>
      </tr>
      {% endif %}

    </table>
  {% endif %}

  <!-- if appt is booked, show actions and contacts -->
  {% if appt.appt_type in schedulable and appt.available == False %}

    <!-- actions table will always be last (if present) -->
    <table class="appt_subblock appt_info_block appt_end_block">

      <tr class="info_block_subheader">
        <th>Follow-Ups</th>
        <th class="right">&#8635;&#xFE0E;</th>
      </tr>

      <tr>
        <td>
          {% if appt.outcome == "1" %}
            <a href="{% url 'enter_decision' appt.id date.year date.month date.day%}">Enter Decision</a>
          {% else %}
            {% if appt.outcome == "5" %}
              <a href="{% url 'enter_decision' appt.id date.year date.month date.day%}">{{appt.get_outcome_display}}</a>
            {% else %}
              <a href="{% url 'enter_decision' appt.id date.year date.month date.day%}">{{appt.get_outcome_display}}: {{appt.dog.upper}}</a>
            {% endif %}
          {% endif %}
        </td>

        <td class="right"><a href="{% url 'greeter_reschedule' appt.adopter.id appt.id date.year date.month date.day 'followup' %}">Schedule Next Appointment</a></td>
      </tr>

      <tr>
        {% if appt.comm_followup == False %}
          <td><a href="{% url 'send_followup' appt.id date.year date.month date.day 0 %}">Send Follow-Up Email</a><br></td>
          <td class="right"><a href="{% url 'send_followup' appt.id date.year date.month date.day 1 %}">Send Follow-Up Email (with Host Info)</a><br></td>
        {% else %}
          <td><p class="completed_appt_action">Send Follow-Up Email</p></td>
          <td class="right"><p class="completed_appt_action">Send Follow-Up Email (with Host Info)</p></td>
        {% endif %}
      </tr>

    </table>

  <!-- endif for booked appt blocks   -->
  {% endif %}
</div>
