{% load appt_extras %}

<div class="appointment {% if appt.short_notice %} short_notice {% endif %}" id="appt{{appt.id}}">

  <!-- header grid, has a bottom border unless it is the only section -->
  <!-- it will be the only section when the appointment is not booked and has no notes -->
  {% if not appt.available %}
    <table class="appt_info_block" id="appt_header_block">
  {% else %}
    <table class="appt_info_block appt_end_block" id="appt_header_block">
  {% endif %}

      <tr>
        <td class="appt_description left upper"><b><a class="appt_action" href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">
          {% if appt.locked %}
            &#128274;&#xFE0E;
          {% endif %}

          {% if appt.short_notice %} &#9888;&#xFE0E; {% endif %}

          {% if show_timestr %}
            {{appt_str}}
          {% else %}
            {{appt}}
          {% endif %}
        </a>
        {% if appt.mobility %}
          &#9855;&#xFE0E;
        {% endif %}
        {% if appt.bringing_dog %}
          &#128021;&#xFE0E;
        {% endif %}
        {% if appt.has_cat %}
          &#128008;&#xFE0E;
        {% endif %}
        </td>

        <td class="appt_description right">

          {% if appt.locked %}
            <a href="{% url 'toggle_lock' appt.id date.year date.month date.day %}">&#128275;&#xFE0E;</a>
          {% else %}
            <a href="{% url 'toggle_lock' appt.id date.year date.month date.day %}">&#128274;&#xFE0E;</a>
          {% endif %}

          <a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">&#9998;&#xFE0E;</a>

          {% if appt.adopter %}
            <a href="https://www.shelterluv.com/adoption_request_print/{{appt.adopter.application_id}}" target="_blank">&#128196;&#xFE0E;</a>
            <a href="{% url 'remove_adopter' appt.id date.year date.month date.day %}">&#128100;&#xFE0E;<sub style="font-size: 8pt;">&#128683;&#xFE0E;</sub></a>
          {% endif %}
          <a href="{% url 'delete_cal_appointment' appt.id date.year date.month date.day %}">&#10006;&#xFE0E;</a></td>
      </tr>

      <tr>
        <td class="left" style="width: 50%;"><b>({{appt.appt_string}})</b></td>
        <td class="right" style="width: 50%;">
          <!-- displays bringing dog if applicable, bumps up has a cat if applicable -->
          {% if appt.bringing_dog %}
            <b>Bringing dog!<br></b>
          {% elif appt.has_cat and not appt.bringing_dog %}
            <b>Has a cat!</b>
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="left" style="width: 50%;">
          <!-- displays number_of_visits if second visit or greater -->
          {% if appt.visits_to_date >= 1 and appt.appt_type in schedulable %}
            <b>{{appt.number_of_visits}}</b>
          {% endif %}
          {% if appt.adopter.lives_with_parents and appt.visits_to_date == 0 and appt.appt_type in schedulable %}
            <b>Must bring a parent!</b>
          {% endif %}
        </td>
        <td class="right" style="width: 50%;">
          <!-- displays has a cat if applicable and bringing dog -->
          {% if appt.bringing_dog and appt.has_cat %}
            <b>Has a cat!</b>
          {% endif %}
        </td>
      </tr>

    <!-- end header table -->
    </table>

  {% if not appt.available %}
    {% if appt.appt_type in schedulable and appt.adopter %}
      <table class="appt_subblock appt_info_block">
    <!-- if not, it is an open appointment, paperwork, or surrender and could have notes at most -->
    {% else %}
      <table class="appt_subblock appt_info_block appt_end_block">
    {% endif %}

      <tr class="info_block_subheader">
        <th class="left"><a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">Notes</a></th>
        <th class="right"><a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">&#9998;&#xFE0E;</a></th>
      </tr>

      {% if appt|show_notes %}
        {% if appt.internal_notes %}
        <tr>
          <td class="left"><b>From Adoptions:</b></td>
          <td class="left"><a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}"> {{appt.internal_notes|linebreaks}}</a></td>
        </tr>
        {% endif %}

        {% if appt.adopter_notes %}
        <tr>
          <td class="left"><b>From {{appt.adopter.f_name}}:</b></td>
          <td class="left">{{appt.adopter_notes|linebreaks}}</td>
        </tr>
        {% endif %}

        {% if appt.adopter.app_interest and appt.appt_type in schedulable %}
        <tr>
          <td class="left"><b>From Shelterluv:</b></td>
          <td class="left">{{appt.adopter.app_interest|linebreaks}}</td>
        </tr>
        {% endif %}
      {% else %}
        <tr>
          <td class="left"><a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">No notes on file for this appointment. Click to add a note.</a></td>
        </tr>
      {% endif %}

    </table>
  {% endif %}
  <!-- if appt is booked, show actions and contacts -->
  {% if appt.appt_type in schedulable and appt.available == False %}

  <!-- if the appt has an adopter attached, there should be application info above notes and options for contact and other actions below notes -->
    <table class="appt_subblock appt_info_block">

      <tr class="info_block_subheader">
        <th>About {{appt.adopter.f_name}}</th>
        <th class="right"></th>
      </tr>

      <tr>
        <td>
          {% if appt.adopter.city != "" and appt.adopter.state != "" %}
            Coming from {{appt.adopter.city}}, {{appt.adopter.state}}
          {% else %}
            No Shelterluv information on file.
          {% endif %}
        </td>

        <td class="right">
          {% if appt.adopter.housing_type != "" and appt.adopter.housing != "" %}
            {{appt.adopter.housing_type}} ({{appt.adopter.housing}})
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          {% if appt.adopter.activity_level != "" %}
            {{appt.adopter.activity_level}} Activity Household
          {% endif %}
        </td>

        <td class="right">
          {% if appt.adopter.has_fence %}
            Has Fence
          {% elif appt.adopter.application_id and not appt.adopter.has_fence %}
            No Fence
          {% endif %}
        </td>
      </tr>

    </table>

    <table class="appt_subblock appt_info_block">
      <tr class="info_block_subheader">
        <th class="left">{{appt.adopter.f_name}}'s Preferences</th>
        <th class="right"></th>
      </tr>

      <tr>
        <td class="left">
          {% if appt.adopter.gender_preference == "2" %}
            Only interested in females
          {% elif appt.adopter.gender_preference == "3" %}
            Only interested in males
          {% else %}
            No gender preference
          {% endif %}
        </td>
        <td class="right">
          {% if appt.adopter.age_preference == "2" %}
            Puppies only
          {% elif appt.adopter.age_preference == "3" %}
            Adults only
          {% else %}
            No age preference
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="left">
          {% if appt.adopter.min_weight == 0 and appt.adopter.max_weight == 0 %}
            No weight preference
          {% elif appt.adopter.min_weight > 0 and appt.adopter.max_weight == 0 %}
            Looking for over {{appt.adopter.min_weight}} lbs.
          {% elif appt.adopter.max_weight > 0 and appt.adopter.min_weight == 0 %}
            Looking for under {{appt.adopter.max_weight}} lbs.
          {% elif appt.adopter.min_weight > 0 and appt.adopter.max_weight > 0 %}
            Looking for between {{appt.adopter.min_weight}} and {{appt.adopter.max_weight}} lbs.
          {% endif %}
        </td>
        <td class="right">
          {% if appt.adopter.hypo_preferred %}
            Needs hypo/low-shedding!
          {% endif %}
        </td>
      </tr>

    </table>

    <!-- this table would never be the last block -->
    <table class="appt_subblock appt_info_block">

      <tr class="info_block_subheader">
        <th><a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'calendar' %}">Contact {{appt.adopter.f_name}}</a></th>
        <th class="right"><a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'calendar' %}">&#9993;&#xFE0E;</a></th>
      </tr>

      <tr>
        <td>
          {% if appt.comm_adopted_dogs == False %}
            <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'dogs_were_adopted' %}">Dogs Were Adopted</a>
          {% else %}
            <p class="completed_appt_action">Dogs Were Adopted</p>
          {% endif %}
        </td>

        <td class="right">
          {% if appt.comm_limited_puppies == False %}
            <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'limited_puppies' %}">Limited Puppies</a>
          {% else %}
            <p class="completed_appt_action">Limited Puppies</p>
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          {% if appt.comm_limited_small == False %}
            <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'limited_small' %}">Limited Small Dogs</a></td>
          {% else %}
            <p class="completed_appt_action">Limited Small Dogs</p></td>
          {% endif %}
        </td>

        <td class="right">
          {% if appt.comm_limited_hypo == False %}
            <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'limited_hypo' %}">Limited Low-shed/Hypo</a>
          {% else %}
            <p class="completed_appt_action">Limited Low-shed/Hypo</p>
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          {% if appt.comm_limited_small_puppies == False %}
            <a href="{% url 'contact_adopter' appt.id date.year date.month date.day 'limited_small_puppies' %}">Limited Small Puppies</a>
          {% else %}
            <p class="completed_appt_action">Limited Small Puppies</p>
          {% endif %}
        </td>

        <td class="right">
          <a href="{% url 'resend_confirmation' appt.id %}">Resend Confirmation</a>
        </td>
      </tr>

    </table>

    <!-- actions table will always be last (if present) -->
    <table class="appt_subblock appt_info_block">

      <tr class="info_block_subheader">
        <th>Actions</th>
        <th class="right">&#128498;&#xFE0E;</th>
      </tr>

      <tr>
        <td>
          {% if appt.outcome == "1" %}
            <a href="{% url 'enter_decision' appt.id date.year date.month date.day%}">Enter Decision</a>
          {% else %}
            {% if appt.outcome == "5" or appt.outcome == "6" or appt.outcome == "11" %}
              <a href="{% url 'enter_decision' appt.id date.year date.month date.day%}">{{appt.get_outcome_display}}</a>
            {% else %}
              <a href="{% url 'enter_decision' appt.id date.year date.month date.day%}">{{appt.get_outcome_display}}: {{appt.dog.upper}}</a>
            {% endif %}
          {% endif %}
        </td>

        <td class="right"><a href="{% url 'greeter_reschedule' appt.adopter.id appt.id date.year date.month date.day 'calendar' %}">Reschedule Adopter</a></td>
      </tr>

      <tr>
        <td><a href="{% url 'remove_adopter' appt.id date.year date.month date.day %}">Cancel Adopter</a><br></td>
        <td class="right"><a href="https://www.shelterluv.com/adoption_request_print/{{appt.adopter.application_id}}" target="_blank">Print Application</a></td>
      </tr>

    </table>

    <!-- actions table will always be last (if present) -->
    <table class="appt_subblock appt_info_block appt_end_block">

      <tr class="info_block_subheader">
        <th>Follow-Ups</th>
        <th class="right">&#8635;&#xFE0E;</th>
      </tr>

      <tr>
        {% if appt.comm_followup == False %}
          <td><a href="{% url 'send_followup' appt.id date.year date.month date.day 0 %}">Send Follow-Up Email</a><br></td>
        {% else %}
          <td><p class="completed_appt_action">Send Follow-Up Email</p></td>
        {% endif %}

        <td class="right"><a href="{% url 'greeter_reschedule' appt.adopter.id appt.id date.year date.month date.day 'followup' %}">Schedule Next Appointment</a></td>
      </tr>

      <tr>
        {% if appt.comm_followup == False %}
          <td><a href="{% url 'send_followup' appt.id date.year date.month date.day 1 %}">Send Follow-Up Email (with Host Info)</a><br></td>
        {% else %}
          <td><p class="completed_appt_action">Send Follow-Up Email (with Host Info)</p></td>
        {% endif %}

        <td class="right"></td>
      </tr>

    </table>

  <!-- endif for booked appt blocks   -->
  {% endif %}

<!-- /div for appointment block -->
</div>
