{% extends 'dashboard/base.html' %}
{% load static %}
{% load auth_extras %}

{% block content %}
  <div class="main textpage">
    <h1 class="page_header no_actions">Book Appointment</h1>

    <p class="standalone">Oops! It appears someone else booked this appointment already and it is no longer available.</p>

    {% if request.user|has_group:"adopter" %}
      <div class="copy_template_button">
        <br>
        <form class="" action="{% url 'calendar' %}" method="post">
          {% csrf_token %}
          <input class="copytemplate" type="submit" name="" value="Return to Calendar">
        </form>
      </div>
    {% else %}
      <div class="copy_template_button">
        <br>
        <form class="" action="{% url 'greeter_reschedule' adopter.id appt.id date.year date.month date.day %}" method="post">
          {% csrf_token %}
          <input class="copytemplate" type="submit" name="" value="Return to Calendar">
        </form>
      </div>
    {% endif %}

  </div>
{% endblock %}
