{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="main textpage">

    <div class="roleselector">
      <nav>
        <div class="roleselector-center">
          <ul>
            <li><a href="{% url 'calendar' 'admin' %}">Admin</a></li>
            <li><a href="{% url 'select_adopter' %}">Adopter</a></li>
            <li><a href="{% url 'calendar' 'greeter' %}">Greeter</a> </li>
          </ul>
        </div>
      </nav>
    </div>

    <h1 class="page_header">Book Appointment</h1>

    <p class="standalone">You can use this space to provide any preferences ahead of your appointment. This can include desired size, gender, or age. You can also provide the names of dogs you wish to see during your appointment that you have noticed on our website or social media. If you have no particular specifics and are open to meeting all dogs, you can note this as well.</p>
    <p>Please note that providing the names of specific dogs does not guarantee you the opportunity to meet/adopt them. All dogs are available on a first-come-first-serve basis and can potentially be adopted prior to your appointment. Some may not fit well with the home environment you are able to provide. We are happy to introduce you to a number of compatible matches during your appointment. The Adoptions team emphasizes that keeping an open mind and not narrowing your scope to only one or two dogs from the website is the best way to experience our program.</p>
    <br>
    <form class="" action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <h3>Please confirm the following:</h3><br>
      <label for="dogs_not_held">I understand that dogs are not placed on hold for prospective adopters, and any dog I am interested may be adopted prior to my visit. Saving Grace does not have the capacity to keep track of wishlists, may not update me if a dog I express interest in is adopted prior, and emphasizes keeping options open instead of focusing on only one or two dogs from the website. </label>
      <input type="checkbox" name="ready_to_adopt" value="dogs_not_held" required><br><br>
      <label for="ready_to_adopt">I understand that the dog I select will not be placed on hold unless there are outstanding veterinary needs. Saving Grace cannot accept a deposit to care for a dog that is ready to leave the program. I will come into my appointment prepared to take a dog home immediately following, even if this is not the actual outcome. </label>
      <input type="checkbox" name="ready_to_adopt" value="ready_to_adopt" required><br><br>
      <label for="children_attending">I understand that it is <b>extremely</b> important for any young children in the home to attend the appointment so that we may find a child-compatible match, or I acknowledge that there are no young children in the home. </label>
      <input type="checkbox" name="ready_to_adopt" value="children_attending" required><br><br>
      {% if title != "Edit Appointment" %}
        <label for="auth_code">Please enter your six digit authorization code (included in the email we sent you):</label>
        <input type="number" name="auth_code" value="" min="{{adopter.auth_code}}" max="{{adopter.auth_code}}" onchange="this.setCustomValidity('')" oninvalid="this.setCustomValidity('This authorization code is incorrect.')" required><br>
      {% endif %}
      <input class="submitform" type="submit" name="" value="Submit">
    </form>

  </div>
{% endblock %}
