{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="main textpage">

    <h1 class="page_header no_actions">Book Appointment</h1>

    <!-- <p class="standalone">You can use this space to provide any preferences ahead of your appointment. This can include desired size, gender, or age. You can also provide the names of dogs you wish to see during your appointment that you have noticed on our website or social media. If you have no particular specifics and are open to meeting all dogs, you can note this as well.</p> -->
    <!-- <br> -->
    <form class="" action="" method="post">
      <!-- <p>Please note that providing the names of specific dogs does not guarantee you the opportunity to meet/adopt them. All dogs are available on a first-come-first-serve basis and can potentially be adopted prior to your appointment. The Adoptions team emphasizes that keeping an open mind and not narrowing your scope to only one or two dogs from the website is the best way to experience our program.</p> -->
      <!-- <br> -->
      <div class="info-box calendar-notes">
        <table>
          <tr>
            <td class="info-box-data no-border">
              <p>
                <span class="alert-symbol">&#9432;&#xFE0E; </span>
                Please note that providing the names of specific dogs does NOT equate to placing a "hold" on them. All dogs are available on a first-come-first-serve basis and can potentially be adopted prior to your appointment. <br><br>
              </p>
              <p>
                Unless you have confirmed with the Adoptions team that you are meeting a dog that requires a pre-arranged appointment, your appointment is considered by the Adoptions team to be open to meeting any dogs available at your scheduled time. <br><br>
              </p>
              <p>
                If the dogs you name here are adopted by the night before your appointment, we will do our best to let you know. We CANNOT provide real-time updates the day of your appointment, and emphasize that if you keep an open mind, you may meet an even better match than you thought!
              </p>
            </td>
          </tr>
        </table>
      </div><br>
      <h3>Who are you interested in meeting?</h3>
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      {{ adopter_form.as_p }}
      <br>
      <em>**Low-shed and hypoallergenic dogs do not come into our program often and are wildly popular. If you can be flexible about this, you will have a much easier time finding a match.</em>
      <br>
      <br>
     <input class="submitform" type="submit" onClick="this.form.submit(); this.disabled=true;" name="" value="Submit">
    </form>

  </div>
{% endblock %}
