{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="main text-page">
  <h1 class="page-header no-actions">Book Appointment</h1>
  <form method="post">
    <div class="info-box calendar-notes btm-margin-5">
      <table>
        <tr>
          <td class="info-box-data no-border">
            <span class="alert-symbol">&#9432;&#xFE0E; </span>Please note that providing the names of specific dogs does not guarantee you the opportunity to meet/adopt them. All dogs are available on a first-come-first-serve basis and can potentially be adopted prior to your appointment. The Adoptions team emphasizes that keeping an open mind and not narrowing your scope to only one or two dogs from the website is the best way to experience our program.
          </td>
        </tr>
      </table>
    </div>
    <h3 class="btm-margin-5">Who are you interested in meeting?</h3>
    {% csrf_token %}
    <span class="btm-margin-5">
      {{ form.as_p }}
    </span>
    <span class="btm-margin-10">
      {{ adopter_form.as_p }}
    </span>
    <span class="btm-margin-5">
      <em>**Low-shed and hypoallergenic dogs do not come into our program often and are wildly popular. If you can be flexible about this, you will have a much easier time finding a match.</em><br>
    </span>
    <input class="submit-form" type="submit" onClick="this.form.submit(); this.disabled=true;" value="Submit">
  </form>
</div>
{% endblock %}
