<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet"  href="{%  static  'main.css'  %}">
  </head>
  <body>
    <div class="roleselector">
      <nav>
        <div class="roleselector-center">
          <ul>
            <li><a href="{% url 'calendar' 'admin' %}">Admin</a></li>
            <li><a href="{% url 'select_adopter' %}">Adopter</a></li>
            <li><a href="{% url 'calendar' 'greeter' %}">Greeter</a> </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="activitymenu">
      <nav>
        <div class="actmenu-center">
          <ul>
            <li><a href="{% url 'calendar' 'greeter' %}">Calendar</a> </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="calendar_header">
      <h1><a href="{% url 'calendar_date' role previous_day.year previous_day.month previous_day.day %}">&#9664;</a>  {{date_pretty}}  <a href="{% url 'calendar_date' role next_day.year next_day.month next_day.day %}">&#9654;</a></h1>
    </div>

    <div class="calendar_actions">
      <a href="{% url 'jump_to_date_admin' role %}">Jump To Date</a>
      <a href="{% url 'calendar' 'greeter' %}">Return to Today</a>
    </div>

    {% for timeslot, appointments in timeslots.items %}
      <div class="timeslot">
        <h2 class="timeslotheader">{{timeslot}}</h2>
        {% for appt in appointments %}
          {% if appt.available == False %}
            <div class="appointment">
              <div class="appt_description appt_action">
                <p>{{appt}}</p>
              </div>
              <div class="appt_notes">
                <em>
                  <b>Application interest:</b> {{appt.adopter_choice.app_interest}}<br>
                {% if appt.internal_notes %}<br>
                  <a href="{% url 'edit_cal_appointment' role appt.id date.year date.month date.day %}"><b>Internal notes:</b> {{appt.internal_notes}}</a><br>
                {% endif %}
                {% if appt.adopter_notes %}
                  <b>Adopter notes:</b> {{appt.adopter_notes}}<br></a>
                {% endif %}
                {% if appt.bringing_dog %}
                  <b>Bringing dog</b><br>
                {% endif %}
                {% if appt.adopter_choice.visits_to_date > 1 and appt.outcome != "5" %}
                  <b>{{appt.adopter_choice.number_of_visits}}</b>
                {% endif %}
                </em>
              </div>
              {% if appt.appt_type in schedulable %}
                <div class="greeter_appt_action">
                  {% if appt.comm_followup == False %}
                    <a href="{% url 'send_followup' role appt.id date.year date.month date.day %}" class="greeter_appt_action_links">Send Follow-Up Email</a>
                    <a href="{% url 'send_followup_w_host' role appt.id date.year date.month date.day %}" class="greeter_appt_action_links"> (with Host Information)</a><br>
                  {% else %}
                    <a href="#" class="completed_appt_action">Send Follow-Up Email</a>
                    <a href="#" class="completed_appt_action"> (with Host Information)</a><br>
                  {% endif %}
                  <a href="{% url 'greeter_reschedule' role appt.adopter_choice.id appt.id date.year date.month date.day%}" class="greeter_appt_action_links">Reschedule</a><br>
                  {% if appt.outcome == "1" %}
                    <a href="{% url 'enter_decision' role appt.id date.year date.month date.day%}" class="greeter_appt_action_links">Enter Decision</a>
                  {% else %}
                    <div class="decision">
                      {% if appt.outcome == "5" %}
                        {{appt.get_outcome_display}}
                      {% else %}
                        <a href="{% url 'enter_decision' role appt.id date.year date.month date.day%}" class="greeter_appt_action_links">{{appt.get_outcome_display}}: {{appt.dog}}</a>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
              </div>
            {% endif %}
        {% endfor %}
      </div>
    {% endfor %}

    <br><br>

  </body>
</html>
