<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet"  href="{%  static  'main.css'  %}">
  </head>
  <body>
    <div class="roleselector">
      <nav>
        <div class="roleselector-center">
          <ul>
            <li><a href="{% url 'calendar' 'admin' %}">Admin</a></li>
            <li><a href="{% url 'select_adopter' %}">Adopter</a></li>
            <li><a href="{% url 'calendar' 'greeter' %}">Greeter</a> </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="activitymenu">
      <nav>
        <div class="actmenu-center">
          <ul>
            <li><a href="{% url 'weekly_schedule' %}">Edit Weekly Template</a></li>
            <li><a href="{% url 'calendar' 'admin' %}">Calendar</a></li>
            <li><a href="{% url 'add_adopter' %}">Add Adopters</a></li>
            <li><a href="{% url 'adopter_manage' %}">Manage Adopters</a></li>
            <li><a href="{% url 'daily_reports_home' 'admin' %}">Daily Report</a></li>
            <li><a href="{% url 'chosen_board' role %}">Chosen Board</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="calendar_header">
      <h1><a href="{% url 'calendar_date' role previous_day.year previous_day.month previous_day.day %}">&#9664;</a>  {{date_pretty}}  <a href="{% url 'calendar_date' role next_day.year next_day.month next_day.day %}">&#9654;</a></h1>
    </div>

    <div class="calendar_actions">
      <a href="{% url 'jump_to_date_admin' role %}">Jump To Date</a>
      <a href="{% url 'calendar' 'admin' %}">Return to Today</a>
      <a href="{% url 'calendar_print' role date.year date.month date.day %}" target="_blank">Print View</a>
      <a href="{% url 'add_timeslot' role date.year date.month date.day %}">Add Timeslot</a>
    </div>

    {% if empty_dates %}
      <div class="outstanding_task">
        <p><div style="display:inline; font-size: 16pt;">&#9888;</div> There are some dates in the next two weeks that have less appointments than usual (or none at all). Please check that a full schedule is set:</p>
        <ul>
          {% for d, d_str in empty_dates %}
          <li><a class="datelink" href="{% url 'calendar_date' role d.year d.month d.day %}">{{d_str}}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if upload_current == False %}
      <div class="outstanding_task">
        <p><div style="display:inline; font-size: 16pt;">&#9888;</div> <a href="{% url 'add_adopter' %}" class="datelink">An adopter upload was not made yesterday. Please upload the most recent approved adopters.</a></p>
      </div>
    {% endif %}

    {% if empty_day == True %}
      <div class="copy_template_button">
        <br>
        <form class="" action="{% url 'copy_temp_to_cal' role date.year date.month date.day %}" method="post">
          {% csrf_token %}
          <input class="copytemplate" type="submit" name="" value="Copy From My {{weekday}} Template">
        </form>
      </div>

    {% else %}

    {% for timeslot, appointments in timeslots.items %}
      <div class="timeslot">
        <h2 class="timeslotheader">{{timeslot}}</h2>
        {% if appointments|length <= 1 %}
        <ul class="appt_solo">
        {% else %}
        <ul class="appt_list">
        {% endif %}
        {% for appt in appointments %}
        <li class="appt_slot">
          <div class="appointment">
            <table id="appt_header_block" style="width: 100%;">
              <tr>
                {% if appt.adopter_choice %}
                  <td class="appt_description" style="text-align: left; text-transform: uppercase;"><b><a class="appt_action" href="{% url 'edit_cal_appointment' role appt.id date.year date.month date.day %}">{{appt.adopter_choice.adopter_full_name}}</a></b></td>
                {% else %}
                  <td class="appt_description" style="text-align: left; text-transform: uppercase;"><b><a class="appt_action" href="{% url 'edit_cal_appointment' role appt.id date.year date.month date.day %}">OPEN</a></b></td>
                {% endif %}
                <td class="appt_description" style="text-align: right;"><a class="appt_action" href="{% url 'edit_cal_appointment' role appt.id date.year date.month date.day %}">&#9998;</a>
                  <a href="{% url 'delete_cal_appointment' role appt.id date.year date.month date.day %}">&#10006;</a></td>
              </tr>
              <tr>
                <td style="text-align: left;"><b>({{appt.appt_string}})</b></td>
                <td style="text-align: right;">
                  {% if appt.bringing_dog %}
                    <b>Bringing dog!<br></b>
                  {% elif appt.has_cat and not appt.bringing_dog %}
                    <b>Has a cat!</b>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  {% if appt.adopter_choice.visits_to_date > 1 %}
                    <b>{{appt.adopter_choice.number_of_visits}}</b>
                  {% endif %}
                </td>
                <td style="text-align: right;">
                  {% if appt.bringing_dog and appt.has_cat %}
                    <b>Has a cat!</b>
                  {% endif %}
                </td>
              </tr>
            </table>
            <div class="appt_notes">
              <table>
                <tr style="padding-bottom: 5px;">
                  <th style="font-size: 14pt;">Notes</th>
                  <th style="text-align: right; font-size: 14pt;"><a class="appt_action" href="{% url 'edit_cal_appointment' role appt.id date.year date.month date.day %}">&#9998;</a></th>
                </tr>
                {% if appt.internal_notes %}
                <tr>
                  <td><b>From Adoptions:</b></td>
                  <td><a href="{% url 'edit_cal_appointment' role appt.id date.year date.month date.day %}"> {{appt.internal_notes|linebreaks}}</a></td>
                </tr>
                {% endif %}
                {% if appt.adopter_notes %}
                <tr>
                  <td><b>From {{appt.adopter_choice.adopter_first_name}}:</b></td>
                  <td>{{appt.adopter_notes|linebreaks}}</td>
                </tr>
                {% endif %}
                {% if appt.adopter_choice.app_interest %}
                <tr>
                  <td><b>From Shelterluv:</b></td>
                  <td>{{appt.adopter_choice.app_interest|linebreaks}}</td>
                </tr>
                {% endif %}
              </table>
              {% if appt.adopter_choice.visits_to_date > 1 %}
                <b>{{appt.adopter_choice.number_of_visits}}</b>
              {% endif %}
            </div>
            {% if appt.appt_type in schedulable and appt.available == False %}
              <div class="appt_action">
                <a href="{% url 'edit_cal_appointment' role appt.id date.year date.month date.day %}">Edit Appointment Notes</a><br>
                {% if appt.outcome == "1" %}
                  <a href="{% url 'enter_decision' role appt.id date.year date.month date.day%}">Enter Decision</a>
                {% else %}
                  {% if appt.outcome == "5" %}
                    <a href="{% url 'enter_decision' role appt.id date.year date.month date.day%}">{{appt.get_outcome_display}}</a>
                  {% else %}
                    <a href="{% url 'enter_decision' role appt.id date.year date.month date.day%}">{{appt.get_outcome_display}}: {{appt.dog.upper}}</a>
                  {% endif %}
                  </a>
                {% endif %}
                <a href="{% url 'greeter_reschedule' role appt.adopter_choice.id appt.id date.year date.month date.day%}">Reschedule Adopter</a>
                <a href="{% url 'remove_adopter' role appt.id date.year date.month date.day %}">Cancel Adopter</a><br>
              </div>
              <div class="contact_adopter">
                <div class="contact_adopter_header">
                  <a href="{% url 'contact_adopter' appt.id date.year date.month date.day %}">Contact Adopter</a>
                </div>
                <div class="contact_adopter_quickbuttons">
                  {% if appt.comm_adopted_dogs == False %}
                    <a href="{% url 'dogs_were_adopted' appt.id %}" class="contact_adopter_quickbutton_links">Dogs Were Adopted</a>
                  {% else %}
                    <a href="#" class="completed_appt_action">Dogs Were Adopted</a>
                  {% endif %}

                  {% if appt.comm_limited_puppies == False %}
                    <a href="{% url 'limited_matches' appt.id 'puppies' date.year date.month date.day %}" class="contact_adopter_quickbutton_links">Limited Puppies</a>
                  {% else %}
                    <a href="#" class="completed_appt_action">Limited Puppies</a>
                  {% endif %}

                  {% if appt.comm_limited_small == False %}
                    <a href="{% url 'limited_matches' appt.id 'small dogs' date.year date.month date.day %}" class="contact_adopter_quickbutton_links">Limited Small Dogs</a>
                  {% else %}
                    <a href="#" class="completed_appt_action">Limited Small Dogs</a>
                  {% endif %}

                  {% if appt.comm_limited_hypo == False %}
                    <a href="{% url 'limited_matches' appt.id 'lowshed' date.year date.month date.day %}" class="contact_adopter_quickbutton_links">Limited Low-Shed/Hypo</a>
                  {% else %}
                    <a href="#" class="completed_appt_action">Limited Low-Shed/Hypo</a>
                  {% endif %}

                  {% if appt.comm_limited_other == False %}
                    <a href="{% url 'limited_matches' appt.id 'other' date.year date.month date.day %}" class="contact_adopter_quickbutton_links">Other</a>
                  {% else %}
                    <a href="#" class="completed_appt_action">Other</a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </li>
        {% endfor %}
        </ul>
        <br>
        <a class="timeslot_action" href="{% url 'add_cal_appointment' role timeslot.id date.year date.month date.day %}">Add Appointment</a>
        <a class="timeslot_action" href="{% url 'delete_cal_timeslot' role timeslot.id date.year date.month date.day %}">Delete Timeslot</a>
      </div>
    {% endfor %}
    <br>
    {% endif %}

  </body>
</html>
