<div class="info_box">
  <p class="datelink"><b>INTERNAL NOTE FOR {{date_pretty.upper}}</b></p>
  {% if internal_announcement %}
    <p class="datelink"><span style="display:inline; font-size: 16pt;">&#9432;&#xFE0E; </span>{{internal_announcement.text|safe}} &#9998;&#xFE0E;</p>
  {% endif %}
</div>

<div class="short_notice_box">
  <p><div style="display:inline; font-size: 16pt;">&#9432;&#xFE0E;</div> The following short-notice changes have occurred:</p>
  <table class="infobox_table">
    <tr>
      <th>Added:</th>
      <th>Canceled:</th>
      <th>Moved:</th>
    </tr>
    <tr>
      <td>
        <ul>
          {% for sn in sn_add %}
            <li>{{sn}}<br><span style="font-size: 8pt;">({{sn.current_appt.appt_string}} - {{sn.current_appt.time_string}})</span></li>
          {% endfor %}
        </ul>
      </td>

      <td>
        <ul>
          {% for sn in sn_cancel %}
          <li>{{sn}}<br><span style="font-size: 8pt;">({{sn.prev_appt.appt_string}} - {{sn.prev_appt.time_string}})</span></li>
          {% endfor %}
        </ul>
      </td>

      <td>
        <ul>
          {% for sn in sn_move %}
          <li>{{sn}}<br><span style="font-size: 8pt;">({{sn.current_appt.appt_string}} - moved from {{sn.prev_appt.time_string}} to {{sn.current_appt.time_string}})</span></li>
          {% endfor %}
        </ul>
      </td>

    </tr>
  </table>

  <!-- <ul class="change_type">
    <li>
      <b>Added:</b>
      <ul>
        {% for sn in sn_add %}
        <li>{{sn}}<br><span style="font-size: 8pt;">({{sn.current_appt.appt_string}} - {{sn.current_appt.time_string}})</span></li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <b>Canceled:</b>
      <ul>
        {% for sn in sn_cancel %}
        <li>{{sn}}<br><span style="font-size: 8pt;">({{sn.prev_appt.appt_string}} - {{sn.prev_appt.time_string}})</span></li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <b>Moved:</b>
      <ul>
        {% for sn in sn_move %}
        <li>{{sn}} <br><span style="font-size: 8pt;">({{sn.current_appt.appt_string}} - moved from {{sn.prev_appt.time_string}} to {{sn.current_appt.time_string}})</span></li>
        {% endfor %}
      </ul>
    </li>
  </ul> -->

  <!-- <ul>
    {% for appt in no_outcome_appts %}
    <li><a class="datelink" href="{% url 'enter_decision' appt.id appt.date.year appt.date.month appt.date.day%}">{{appt.adopter.full_name}} - {{appt.date}}</a></li>
    {% endfor %}
  </ul> -->
</div>
