<!-- two-column table displaying timeslot and timeslot-level actions -->
<table class="timeslot-toolbar">
  <th class="left">{{timeslot}}</th>
  <th class="right">
    <a class="timeslot-action" href="{% url 'toggle_time' timeslot.id date.year date.month date.day 1 %}">Lock All</a> |
    <a class="timeslot-action" href="{% url 'toggle_time' timeslot.id date.year date.month date.day 0 %}">Unlock All</a> |
    <a class="timeslot-action" href="{% url 'add_cal_appointment' timeslot.id date.year date.month date.day %}">Add Appointment</a> |
    <a class="timeslot-action" href="{% url 'delete_cal_timeslot' timeslot.id date.year date.month date.day %}">Delete Timeslot</a>
  </th>
</table>
