<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    {% load appt_extras %}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet"  href="{%  static  'main.css'  %}">
  </head>
  <body>
    <div class="calendar-header">
      <h1>{{date_pretty}}</h1>
    </div>

    {% if internal_announcement %}
    <div class="info-box btm-margin-10">
      <span class="alert-symbol">&#9432;&#xFE0E; </span>{{internal_announcement.text|safe}}
    </div>
    {% endif %}

    {% if not empty_day %}
    <table class="print-view report">
      <tr>
        <th style="width:5%;">Time</th>
        <th style="width:15%;">Adopter/Dog</th>
        <th style="width:50%;">Notes</th>
        <th style="width:10%;"># of Visits</th>
      </tr>
      {% for timeslot, appointments in timeslots.items %}
        {% for appt in appointments %}
          {% if appt.dog or appt.adopter %}
          <tr>
            <td>{{appt.time_string}}</td>
            <td>
              <b>
                {{appt}}
                {% if appt.mobility %}
                  &#9855;&#xFE0E;
                {% endif %}
                {% if appt.bringing_dog %}
                  &#128021;&#xFE0E;
                {% endif %}
                {% if appt.has_cat %}
                  &#128008;&#xFE0E;
                {% endif %}
              </b>
              <br>
              {% if appt.appt_type in schedulable %}
                <span class="subscript">{{appt.adopter.primary_email}}</span><br>
                {% if appt.adopter.phone_number != "See application" %}
                <span class="subscript">{{appt.adopter.phone_number}}</span><br>
                {% endif %}
              {% endif %}
              <span class="subscript">({{appt.appt_string}})</span><br>
              {% if appt.appt_type in schedulable %}
                <span class="subscript">{{appt.dt_booking_string}}</span>
              {% endif %}
            </td>
            <td>
              {% if appt.adopter_notes %}
                {{appt.adopter_notes}} <em>({{appt.adopter.f_name}})</em> <br>
              {% endif %}
              {% if appt.internal_notes %}
                {{appt.internal_notes}} <em>(Adoptions)</em><br>
              {% endif %}
              {% if appt.appt_type in schedulable %}
                {{appt.adopter.app_interest}} <em>(Shelterluv)</em>
              {% endif %}
            <td>
              {% if appt.adopter.visits_to_date > 1 %}
                {{appt.number_of_visits}}
              {% endif %}
            </td>
          </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
