{% extends 'dashboard/base.html' %}
{% load static %}
{% load auth_extras %}

{% block content %}
  <div class="main">
    <div class="page-header">
      <h1>
        <a href="{% url 'greeter_reschedule' adopter.id appt.id previous_day.year previous_day.month previous_day.day source %}">&#9664;&#xFE0E;</a>
        {{date_pretty}}
        <a href="{% url 'greeter_reschedule' adopter.id appt.id next_day.year next_day.month next_day.day source %}">&#9654;&#xFE0E;</a>
      </h1>
    </div>
    <div class="page-actions">
      <a href="{% url 'jump_to_date_greeter' adopter.id appt.id source %}">Jump To Date</a>
      <a href="{% url 'greeter_reschedule' adopter.id appt.id today.year today.month today.day source %}">Return to Today</a>
    </div>

    <h2 class="center pad-10">{{action}} for {{adopter}}</h2>

    {% if date.weekday < 5 and not timeslots %}
      <br><br>
      <p class="left-pad-10">Adoptions is not scheduling for this date yet.
        <a href="{% url 'set_alert_date_greeter' adopter.id date.year date.month date.day %}">Email {{adopter.f_name}} when appointments open?</a>
      </p>
    {% endif %}

    {% for timeslot, appointments in timeslots.items %}
      {% if timeslot in timeslots %}
      <div class="timeslot" id="ts{{timeslot.id}}">

        <table class="subsection-table">
          <th class="subsection-header left">{{timeslot}}</th>
          <th class="subsection-header right">
            <a class="subsection-action" href="{% url 'add_followup_appointment' adopter.id date.year date.month date.day timeslot.id %}">Add Appointment for {{adopter.f_name}}</a>
          </th>
        </table>

        <!-- if zero or one appointments, use appt_solo (has margin: auto; and column-count: 1;) to center a single appointment, else use appt_list for two-column responsive layout -->
        {% if appointments|length <= 1 %}
        <ul class="appt-solo">
        <!-- else use appt_list for two-column responsive layout  -->
        {% else %}
        <ul class="appt-list">
        {% endif %}

        {% for appt in appointments %}
          {% if appt.available == True and appt.appt_type in schedulable %}
          <li class="appt-slot">
            <div class="appointment">
              <table class="appt-info-block no-border" id="appt-header-block">
                <tr>
                  <td class="appt-description left upper"><b><a href="{% url 'adopter_reschedule' adopter.id appt.id date.year date.month date.day source %}">CLICK TO BOOK</a></b></td>
                </tr>
                <tr>
                  <td class="left"><b>({{appt.appt_string}})</b></td>
                  <td class="right"></td>
                </tr>
              </table>
            </div>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
