<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    {% load appt_extras %}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet"  href="{%  static  'main.css'  %}">
  </head>
  <body>
    <div class="calendar_header">
      <h1>{{date_pretty}}</h1>
    </div>

    {% if internal_announcement %}
    <div class="info-box calendar-notes">
      <table>
        <tr>
          <td class="info-box-data no-border">
            {% if internal_announcement %}
            <span class="alert-symbol">&#9432;&#xFE0E; </span>{{internal_announcement.text|safe}}
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    {% endif %}

    {% if empty_day == True %}
    <div class="textpage">
      No appointments today.
    </div>
    {% else %}

    <table style="width:100%;font-size:10pt;">
      <tr>
        <th style="width:5%;">Time</th>
        <th style="width:15%;">Adopter/Dog</th>
        <th style="width:23%;">Notes from Adopter</th>
        <th style="width:24%;">Notes from Adoptions Team</th>
        <th style="width:23%;">Notes from Shelterluv</th>
        <th style="width:10%;"># of Visits</th>
      </tr>
      {% for timeslot, appointments in timeslots.items %}
        {% for appt in appointments %}
          {% if appt.dog or appt.adopter %}
            <tr class="appt_row">
              <td style="">{{appt.time_string}}</td>
              <td>
                {{appt}}
                {% if appt.mobility %}
                  &#9855;&#xFE0E;
                {% endif %}
                {% if appt.bringing_dog %}
                  &#128021;&#xFE0E;
                {% endif %}
                {% if appt.has_cat %}
                  &#128008;&#xFE0E;
                {% endif %}
                <br>
                <span style="font-size: 8pt;">({{appt.appt_string}})</span>
              </td>
              <td>{{appt.adopter_notes}}</td>
              <td>{{appt.internal_notes}}</td>
              <td>
                {% if appt.appt_type in schedulable %}
                  {{appt.adopter.app_interest}}
                {% endif %}
              </td>
              <td>
                {% if appt.adopter.visits_to_date > 1 %}
                  {{appt.number_of_visits}}
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
      <br><br>
    </table>
    {% endif %}

  </body>
</html>
