{% extends 'dashboard/base.html' %}
{% load static %}
{% load auth_extras %}
{% load appt_extras %}

{% block content %}
<div class="main text-page">
  <h1 class="page-header no-actions">Chosen Board</h1>
  {% if paper_appointments|length > 0 %}
  <h2>Paperwork Scheduled</h2><br>
  <table class="report">
    <tr class="no-border btm-margin-5">
      <th style="width:15%;">Date</th>
      <th style="width:10%;">Dog</th>
      <th style="width:17%;">Adopter</th>
      {% if request.user|has_group:"admin" %}
        <th style="width:20%;">Last Update Sent</th>
        <th style="width:18%;">Update Status</th>
      {% endif %}
    </tr>
    {% for appt in paper_appointments %}
      <!-- appts with chosen or paperwork status -->
      <tr>
        <td>{{appt.date}}</td>
        <td>{{appt.dog}}</td>
        <td>
          {{appt.adopter.full_name}}
          {% if request.user|has_group:"admin" %}<a href="{% url 'clear_from_cb' appt.id %}">(Cancel)</a>{% endif %}
        </td>

        {% if request.user|has_group:"admin" %}
          <td>
            {% if appt|alert_overdue == True %}<span class="pink">&#9888;&#xFE0E;</span>{% endif %}{{appt.last_update_sent}} <br>
            <a href="{% url 'contact_adopter' appt.id appt.date.year appt.date.month appt.date.day 'update' %}">Send Update</a><br>
            <span class="subscript italic top-pad-5">
              <b>Previous Updates:</b><br>
              <ul>
                {% for update in appt.all_updates_sent %}
                <li>{{update}}</li>
                {% endfor %}
              </ul>
            </span>
          </td>

          <td class="chosenboard">
            {% if appt|is_chosen %}
              <a href="{% url 'contact_adopter' appt.id appt.date.year appt.date.month appt.date.day 'ready_negative' %}">Chosen - Dog Vetted</a><br>
              <a href="{% url 'contact_adopter' appt.id appt.date.year appt.date.month appt.date.day 'ready_positive' %}">Vetted - Heartworm Positive</a>
            {% elif appt.outcome == "7" %}
              Adopter Notified<br>
              {% if appt.rtr_notif_date %}
                ({{appt.rtr_notif_date}})<br>
              {% endif %}
              {% if appt.heartworm == True %}
                <a href="{% url 'paperwork_calendar' today.year today.month today.day appt.id 'positive' %}">Add FTA Appointment</a><br>
              {% else %}
                <a href="{% url 'paperwork_calendar' today.year today.month today.day appt.id 'negative' %}">Add Paperwork Appointment</a><br>
              {% endif %}
            {% elif appt.outcome == "8" %}
              Adopter Notified<br>
              Paperwork Scheduled<br>
              <a href="{% url 'mark_complete_cb' appt.id %}">Mark as Complete</a>
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if rtr_appointments|length > 0 %}
  <h2>Ready to Roll</h2><br>
  <table class="report">
    <tr class="no-border btm-margin-5">
      <th style="width:15%;">Date</th>
      <th style="width:10%;">Dog</th>
      <th style="width:17%;">Adopter</th>
      {% if request.user|has_group:"admin" %}
        <th style="width:20%;">Last Update Sent</th>
        <th style="width:18%;">Update Status</th>
      {% endif %}
    </tr>
    {% for appt in rtr_appointments %}
      <!-- appts with chosen or paperwork status -->
      <tr>
        <td>{{appt.date}}</td>
        <td>{{appt.dog}}</td>
        <td>
          {{appt.adopter.full_name}}
          {% if request.user|has_group:"admin" %}<a href="{% url 'clear_from_cb' appt.id %}">(Cancel)</a>{% endif %}
        </td>
        {% if request.user|has_group:"admin" %}
          <td>
            {% if appt|alert_overdue == True %}<span class="pink">&#9888;&#xFE0E;</span>{% endif %}{{appt.last_update_sent}} <br>
            <a href="{% url 'contact_adopter' appt.id appt.date.year appt.date.month appt.date.day 'update' %}">Send Update</a><br>
            <span class="subscript italic top-pad-5">
              <b>Previous Updates:</b><br>
              <ul>
                {% for update in appt.all_updates_sent %}
                <li>{{update}}</li>
                {% endfor %}
              </ul>
            </span>
          </td>
          <td class="chosenboard">
            {% if appt|is_chosen %}
            <div>
              <a href="{% url 'contact_adopter' appt.id appt.date.year appt.date.month appt.date.day 'ready_negative' %}">Chosen - Dog Vetted</a><br>
              <a href="{% url 'contact_adopter' appt.id appt.date.year appt.date.month appt.date.day 'ready_positive' %}">Vetted - Heartworm Positive</a>
            </div>
            {% elif appt.outcome == "7" %}
              Adopter Notified<br>
              {% if appt.rtr_notif_date %}
              ({{appt.rtr_notif_date}})<br>
              {% endif %}
              {% if appt.heartworm == True %}
              <a href="{% url 'paperwork_calendar' today.year today.month today.day appt.id 'positive' %}">Add FTA Appointment</a><br>
              {% else %}
              <a href="{% url 'paperwork_calendar' today.year today.month today.day appt.id 'negative' %}">Add Paperwork Appointment</a><br>
              {% endif %}
              <a href="{% url 'revert_to_needs_well_check' appt.id %}">Put Back as Chosen</a><br>
              <a href="{% url 'mark_complete_cb' appt.id %}">Mark as Complete</a>
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
  {% endif %}

  <h2>Chosen</h2><br>
  <table class="report">
    <tr class="no-border btm-margin-5">
      <th style="width:10%;">Date</th>
      <th style="width:10%;">Dog</th>
      <th style="width:15%;">Outcome</th>
      <th style="width:17%;">Adopter</th>
      {% if request.user|has_group:"admin" %}
        <th style="width:20%;">Last Update Sent</th>
        <th style="width:18%;">Update Status</th>
      {% endif %}
    </tr>
    {% for appt in chosen_appointments %}
      <!-- appts with chosen or paperwork status -->
      <tr>
        <td>{{appt.date}}</td>
        <td>{{appt.dog}}</td>
        <td>
          {{appt.get_outcome_display}}<br>
          {% if request.user|has_group:"admin" %}
            {% if appt.outcome != "9" %}
            <a href="{% url 'cb_update_status' appt.id 9 %}">Needs vetting</a><br>
            {% elif appt.outcome != "10" %}
            <a href="{% url 'cb_update_status' appt.id 10 %}">Needs well check</a>
            {% endif %}
          {% endif %}
        </td>
        <td>
          {{appt.adopter.f_name}} {{appt.adopter.l_name}}
          {% if request.user|has_group:"admin" %}
            <a href="{% url 'clear_from_cb' appt.id %}">(Cancel)</a>
          {% endif %}
        </td>
        {% if request.user|has_group:"admin" %}
        <td>
          {% if appt|alert_overdue == True %}<span class="pink">&#9888;&#xFE0E;</span>{% endif %}{{appt.last_update_sent}} <br>
          <a href="{% url 'contact_adopter' appt.id appt.date.year appt.date.month appt.date.day 'update' %}">Send Update</a> &#x2022; <a href="{% url 'contact_adopter' appt.id appt.date.year appt.date.month appt.date.day 'cough' %}">Cough</a> &#x2022; <a href="{% url 'contact_adopter' appt.id appt.date.year appt.date.month appt.date.day 'nasal_discharge' %}">Nasal Discharge</a><br>
          {% if appt.all_updates_sent|length > 0 %}
          <span class="subscript italic top-pad-5">
            <b>Previous Updates:</b><br>
            <ul>
              {% for update in appt.all_updates_sent %}
              <li>{{update}}</li>
              {% endfor %}
            </ul>
          </span>
          {% endif %}
        </td>
        <td class="chosenboard">
          <a href="{% url 'contact_adopter' appt.id appt.date.year appt.date.month appt.date.day 'ready_negative' %}">Chosen - Dog Vetted</a><br>
          <a href="{% url 'contact_adopter' appt.id appt.date.year appt.date.month appt.date.day 'ready_positive' %}">Vetted - Heartworm Positive</a>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
