<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    {% load auth_extras %}
    {% load appt_extras %}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet"  href="{%  static  'main.css'  %}">
  </head>
  <body>
    <div class="calendar_header">
      <h1>{{date_pretty}}</h1>
    </div>
    <br>

    {% if empty_day == True %}
    <div class="textpage">
      No appointments today.
    </div>
    {% else %}

    <h2>All Appointments</h2>
      <table id="chosenboard" style="width: 95%;">
        <tr class="no-border">
          <th style="width:15%;">Time</th>
          <th style="width:30%;">Adopter</th>
          <th style="width:30%;">Outcome</th>
          <th style="width:25%;">Dog</th>
        </tr>
        {% for timeslot, appointments in timeslots.items %}
          {% for appt in appointments %}
            {% if appt.appt_type in schedulable and appt.adopter %}
              <tr class="appt_row">
                <td>{{appt.time}}</td>
                <td>{{appt.adopter}}</td>
                <td>{{appt.get_outcome_display}}</td>
                <td>{{appt.dog}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
        <br><br>
      </table>

    <h2>Adopted</h2>
      <table id="chosenboard" style="width: 95%;">
      <tr class="no-border">
        <th style="width:15%;">Time</th>
        <th style="width:30%;">Adopter</th>
        <th style="width:30%;">Outcome</th>
        <th style="width:25%;">Dog</th>
      </tr>
      {% for timeslot, appointments in timeslots.items %}
        {% for appt in appointments %}
          {% if appt.appt_type in schedulable and appt.outcome == "2" %}
            <tr class="appt_row">
              <td>{{appt.time}}</td>
              <td>{{appt.adopter.f_name}} {{appt.adopter.l_name}}</td>
              <td>{{appt.get_outcome_display}}</td>
              <td>{{appt.dog}}</td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
      <br><br>
    </table>

    <h2>Chosen</h2>
      <table id="chosenboard" style="width: 95%;">
        <tr class="no-border">
          <th style="width:15%;">Time</th>
          <th style="width:30%;">Adopter</th>
          <th style="width:30%;">Outcome</th>
          <th style="width:25%;">Dog</th>
        </tr>
        {% for timeslot, appointments in timeslots.items %}
          {% for appt in appointments %}
            {% if appt.appt_type in schedulable and appt|is_chosen %}
              <tr class="appt_row">
                <td>{{appt.time}}</td>
                <td>{{appt.adopter}}</td>
                <td>{{appt.get_outcome_display}}</td>
                <td>{{appt.dog}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
        <br><br>
      </table>

    <h2>FTA</h2>
      <table id="chosenboard" style="width: 95%;">
        <tr class="no-border">
          <th style="width:15%;">Time</th>
          <th style="width:30%;">Adopter</th>
          <th style="width:30%;">Outcome</th>
          <th style="width:25%;">Dog</th>
        </tr>
        {% for timeslot, appointments in timeslots.items %}
          {% for appt in appointments %}
            {% if appt.appt_type in schedulable and appt.outcome == "4" %}
              <tr class="appt_row">
                <td>{{appt.time}}</td>
                <td>{{appt.adopter}}</td>
                <td>{{appt.get_outcome_display}}</td>
                <td>{{appt.dog}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
        <br><br>
      </table>
    {% endif %}

  </body>
</html>
