{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="main textpage">

    <div class="page_header">
      <h1>Reports</h1>
    </div>

    <div class="week">
      <form class="" action="{% url 'daily_report_all_appts' date.year date.month date.day %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input class="copytemplate" type="submit" name="" value="All Appointment Outcomes" style="margin: 0px 5px;">
      </form>

      <form class="" action="{% url 'daily_report_adopted_chosen_fta' date.year date.month date.day %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input class="copytemplate" type="submit" name="" value="Adopted/Chosen/FTA" style="margin: 0px 5px;">
      </form>
    </div>
  </div>
{% endblock %}
