{% extends 'dashboard/base.html' %}
{% load static %}
{% load appt_extras %}

{% block content %}
  <div class="main textpage">
    <div class="page_header">
      <h1><a href="{% url 'daily_report_adopted_chosen_fta' previous_day.year previous_day.month previous_day.day %}">&#9664;</a>  {{date_pretty}}  <a href="{% url 'daily_report_adopted_chosen_fta' next_day.year next_day.month next_day.day %}">&#9654;</a></h1>
    </div>

    <div class="calendar_actions">
      <a href="{% url 'daily_report_adopted_chosen_fta' today.year today.month today.day %}">Return to Today</a><br>
    </div>

    {% if empty_day == True %}
      No appointments today.
    {% else %}
      <h2>All Appointments</h2>
        <table id="chosenboard" style="width: 95%;">
          <tr class="no-border">
            <th style="width:15%;">Time</th>
            <th style="width:30%;">Adopter</th>
            <th style="width:30%;">Outcome</th>
            <th style="width:25%;">Dog</th>
          </tr>
          {% for timeslot, appointments in timeslots.items %}
            {% for appt in appointments %}
              {% if appt.appt_type in schedulable and appt.adopter %}
                <tr class="appt_row">
                  <td>{{appt.time}}</td>
                  <td>{{appt.adopter}}</td>
                  <td>{{appt.get_outcome_display}}</td>
                  <td>{{appt.dog}}</td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endfor %}
          <br><br>
        </table>

      <h2>Adopted</h2>
        <table id="chosenboard" style="width: 95%;">
        <tr class="no-border">
          <th style="width:15%;">Time</th>
          <th style="width:30%;">Adopter</th>
          <th style="width:30%;">Outcome</th>
          <th style="width:25%;">Dog</th>
        </tr>
        {% for timeslot, appointments in timeslots.items %}
          {% for appt in appointments %}
            {% if appt.appt_type in schedulable and appt.outcome == "2" %}
              <tr class="appt_row">
                <td>{{appt.time}}</td>
                <td>{{appt.adopter.f_name}} {{appt.adopter.l_name}}</td>
                <td>{{appt.get_outcome_display}}</td>
                <td>{{appt.dog}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
        <br><br>
      </table>

      <h2>Chosen</h2>
        <table id="chosenboard" style="width: 95%;">
          <tr class="no-border">
            <th style="width:15%;">Time</th>
            <th style="width:30%;">Adopter</th>
            <th style="width:30%;">Outcome</th>
            <th style="width:25%;">Dog</th>
          </tr>
          {% for timeslot, appointments in timeslots.items %}
            {% for appt in appointments %}
              {% if appt.appt_type in schedulable and appt|is_chosen %}
                <tr class="appt_row">
                  <td>{{appt.time}}</td>
                  <td>{{appt.adopter}}</td>
                  <td>{{appt.get_outcome_display}}</td>
                  <td>{{appt.dog}}</td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endfor %}
          <br><br>
        </table>

      <h2>FTA</h2>
        <table id="chosenboard" style="width: 95%;">
          <tr class="no-border">
            <th style="width:15%;">Time</th>
            <th style="width:30%;">Adopter</th>
            <th style="width:30%;">Outcome</th>
            <th style="width:25%;">Dog</th>
          </tr>
          {% for timeslot, appointments in timeslots.items %}
            {% for appt in appointments %}
              {% if appt.appt_type in schedulable and appt.outcome == "4" %}
                <tr class="appt_row">
                  <td>{{appt.time}}</td>
                  <td>{{appt.adopter}}</td>
                  <td>{{appt.get_outcome_display}}</td>
                  <td>{{appt.dog}}</td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endfor %}
          <br><br>
        </table>
    {% endif %}
  </div>
{% endblock %}
