{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="main textpage">

    <h1 class="page_header no_actions">Jump To Date</h1>

    <p class="standalone">Select a date to jump to on the calendar.</p>
    <br>

    <form class="" action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <input class="submitform" type="submit" onClick="this.form.submit(); this.disabled=true;" name="" value="Submit">
    </form>
  </div>
{% endblock %}
