{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="main">
  <div class="page-header">
    <h1>
      <a href="{% url 'paperwork_calendar' previous_day.year previous_day.month previous_day.day appt.id hw_status %}">&#9664;</a>  {{date_pretty}}  <a href="{% url 'paperwork_calendar' next_day.year next_day.month next_day.day appt.id hw_status %}">&#9654;</a>
    </h1>
  </div>
  {% if empty_day == True %}
    No appointments on this day.
  {% else %}
    {% for timeslot, appointments in timeslots.items %}
    <div class="timeslot">
      <!-- two-column table displaying timeslot and timeslot-level actions -->
      <table class="timeslot-table">
        <th class="timeslot-header left">{{timeslot}}</th>
        <th class="timeslot-header right">
          <a class="timeslot-action" href="{% url 'add_paperwork_appointment' timeslot.id date.year date.month date.day appt.id %}">Add {{fta_or_adoption}} Paperwork Appointment</a>
        </th>
      </table>

      {% if appointments|length <= 1 %}
      <ul class="appt-solo">
      {% else %}
      <ul class="appt-list">
      {% endif %}
        {% for appt in appointments %}
        <li class="appt-slot">
          <div class="appointment">
            <table class="appt-info-block no-border" id="appt-header-block">
              <tr>
                <td class="appt-description left upper">{{appt}}</td>
              </tr>
              <tr>
                <td>
                  <ul class="appt-two-col-list">
                    <li>({{appt.appt_string}})</li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
