{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="main">

    <div class="page_header">
      <h1><a href="{% url 'paperwork_calendar' previous_day.year previous_day.month previous_day.day appt.id hw_status %}">&#9664;</a>  {{date_pretty}}  <a href="{% url 'paperwork_calendar' next_day.year next_day.month next_day.day appt.id hw_status %}">&#9654;</a></h1>
    </div>

    {% if empty_day == True %}
      No appointments on this day.

    {% else %}

    {% for timeslot, appointments in timeslots.items %}
      <div class="timeslot">

        <!-- two-column table displaying timeslot and timeslot-level actions -->
        <table style = "width:100%; padding: 10px; margin: 0;">
          <th style="font-size: 18pt; text-align: left;" class="timeslotheader">{{timeslot}}</th>
          <th style="font-size: 18pt; text-align: right;" class="timeslotheader"><a class="timeslot_action" href="{% url 'add_paperwork_appointment' timeslot.id date.year date.month date.day appt.id %}">Add {{fta_or_adoption}} Paperwork Appointment</a></th>
        </table>

        <!-- if zero or one appointments, use appt_solo (has margin: auto; and column-count: 1;) to center a single appointment -->
        {% if appointments|length <= 1 %}
        <ul class="appt_solo">
        <!-- else use appt_list for two-column responsive layout  -->
        {% else %}
        <ul class="appt_list">
        {% endif %}

        {% for appt in appointments %}
          <!-- create a list item -->
          <li class="appt_slot">
            <div class="appointment">

              <table class="appt_info_block appt_end_block" id="appt_header_block">

                <tr>
                  <td class="appt_description left upper"><b><a class="appt_action" href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">{{appt}}</a>
                  {% if appt.mobility %}
                    &#9855;&#xFE0E;
                  {% endif %}
                  {% if appt.bringing_dog %}
                    &#128021;&#xFE0E;
                  {% endif %}
                  {% if appt.has_cat %}
                    &#128008;&#xFE0E;
                  {% endif %}
                  </td>

                  <td class="appt_description right"><a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">&#9998;&#xFE0E;</a> <a href="{% url 'delete_cal_appointment' appt.id date.year date.month date.day %}">&#10006;&#xFE0E;</a></td>
                </tr>

                <tr>
                  <td class="left"><b>({{appt.appt_string}})</b></td>
                  <td class="right">
                    <!-- displays bringing dog if applicable, bumps up has a cat if applicable -->
                    {% if appt.bringing_dog %}
                      <b>Bringing dog!<br></b>
                    {% elif appt.has_cat and not appt.bringing_dog %}
                      <b>Has a cat!</b>
                    {% endif %}
                  </td>
                </tr>

                <tr>
                  <td class="left">
                    <!-- displays number_of_visits if second visit or greater -->
                    {% if appt.adopter.visits_to_date > 1 %}
                      <b>{{appt.adopter.number_of_visits}}</b>
                    {% endif %}
                  </td>
                  <td class="right">
                    <!-- displays has a cat if applicable and bringing dog -->
                    {% if appt.bringing_dog and appt.has_cat %}
                      <b>Has a cat!</b>
                    {% endif %}
                  </td>
                </tr>

              <!-- end header table -->
              </table>

            <!-- /div for appointment block -->
            </div>
          </li>

        <!-- endfor and /ul for appointments -->
        {% endfor %}
        </ul>
      </div>

    {% endfor %}
    <br><br>
    {% endif %}
  </div>
{% endblock %}
