{% extends 'dashboard/base.html' %}
{% load static %}
{% load auth_extras %}

{% block content %}
<div class="main text-page">
  <h1 class="page-header">Email Templates</h1>
  <div class="page-actions">
    {% if request.user|has_group:"superuser" %}
      <a href="{% url 'add_email_template' %}">Add Template</a>
    {% endif %}
    <a href="{% url 'edit_sig' %}">Edit Signature</a>
  </div>
  <ul class="list-page">
    {% for e_temp in e_templates %}
      <li><a href="{% url 'edit_email_template' e_temp.id %}">{{e_temp.template_name}}</a> - <em>{{e_temp.description}}</em></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
