{% load appt_extras %}
{% load auth_extras %}

<div class="appointment">
  {% if not event.available %}
  <table class="appt-info-block" id="appt-header-block">
  {% else %}
  <table class="appt-info-block no-border" id="appt-header-block">
  {% endif %}
    <tbody>
      <tr>
        <td class="appt-description left upper">
          <a href="{% url 'edit_event' event.id %}">{{event}}</a>
        </td>
        <td class="appt-description right">
            <a href="{% url 'edit_event' event.id %}">&#9998;&#xFE0E;</a>
            {% if event.organization %}
            <a href="{% url 'remove_organization' event.id %}">&#128100;&#xFE0E;<sub style="font-size: 8pt;">&#128683;&#xFE0E;</sub></a>
            {% endif %}
            <a href="{% url 'delete_event' event.id %}">&#10006;&#xFE0E;</a>
        </td>
      </tr>
      {% if not event.available %}
      <tr>
        <td colspan="2">
          <ul class="appt-two-col-list">
            {{event.start_and_end}}
          </ul>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>

  {% if not event.available %}

  {% if appt.appt_type in schedulable and appt.adopter %}
  <table class="appt-subblock appt-info-block contact-subblock">
    <tr class="info-block-subheader">
      <th>Contact Person: {{event.organization.leader_name}}</th>
    </tr>
    <tr>
      <td>
        <ul class="appt-two-col-list">
          <li class="adopter-email">{{event.organization.contact_email}}</li>
        </ul>
      </td>
    </tr>
  </table>

  <table class="appt-subblock appt-info-block notes-subblock">
  <!-- if false, it is an open appointment, paperwork, or surrender and could have notes at most -->
  {% else %}
  <table class="appt-subblock appt-info-block no-border notes-subblock">
  {% endif %}      
    <tbody>
      <tr class="info-block-subheader">
        <th class="left">
          <a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">Summary</a>
        </th>
        <th class="right">
          <a href="{% url 'edit_cal_appointment' appt.id date.year date.month date.day %}">&#9998;&#xFE0E;</a>
        </th>
      </tr>
      <tr class="internal-notes">
        <td class="left" style="width:20%;"><b>Task:</b></td>
        <td class="left"><a href=""> This team will assist with {{event.event_task}}.</a></td>
      </tr>
      <tr class="internal-notes">
        <td class="left" style="width:20%;"><b>Counselor:</b></td>
        <td class="left"><a href=""> {{event.event_task}}</a></td>
      </tr>
    </tbody>
  </table>
  {% endif %}

  <!-- if appt is booked, show actions and contacts -->
  {% if appt.appt_type in schedulable and appt.available == False %}
  <table class="appt-subblock appt-info-block about-subblock">
    <tbody>
      <tr class="info-block-subheader">
        <th>Checklist</th>
      </tr>
      <tr>
        <td>
          <ul class="appt-two-col-list">
            <li>Waivers Complete</li>
            <li>Confirmation Sent</li>
            <li>Donation Received</li>
            <li>Prospective Volunteer Count</li>
            <li>Volunteer Count Confirmed</li>
          </ul>
        </td>
      </tr>          
    </tbody>
  </table>
  {% endif %}
</div>
